<div class="sidebar__Title">
  <p>Calcmenu Philippines</p>
</div>

<div class="sidebar__workspace">
  <div class="dropdown__title collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true" [ngClass] = "ddWorkspace? '':'open'" (click) = "toggleCollapse('workspace')">
    <p>WORKSPACE</p>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down open" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
    </svg>
  </div>
  <div class="collapse show" id="workspace-collapse">
    <a class="dropdown-item" routerLink="workspace/user"><i class="bi bi-person"></i>User</a>
    <a class="dropdown-item" href=""><i class="bi bi-person-badge"></i>Roles</a>
  </div>
</div>
<div class="sidebar__workspace">
  <div class="dropdown__title collapsed" data-bs-toggle="collapse" data-bs-target="#security-collapse" aria-expanded="true" [ngClass] = "ddSecurity? 'open':''" (click) = "toggleCollapse('security')">
    <p>Security</p>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up open" viewBox="0 0 16 16">
      <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z" />
    </svg>
  </div>
  <div class="collapse show" id="security-collapse">
    <a class="dropdown-item" href=""><i class="bi bi-person"></i>Test 1</a>
    <a class="dropdown-item" href=""><i class="bi bi-person-badge"></i>Test2</a>
  </div>
</div>
