<div class="sidebar__Title">
  <p>Calcmenu Philippines</p>
</div>

<div class="sidebar__workspace">
  <div class="dropdown__title collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true" [ngClass] = "ddWorkspace? 'open':''" (click) = "toggleCollapse('workspace')">
    <p>WORKSPACE</p>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up open" viewBox="0 0 16 16">
      <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z" />
    </svg>
  </div>
  <div class="collapse show" id="orders-collapse">
    <a class="dropdown-item" href=""><i class="bi bi-person"></i>User</a>
    <a class="dropdown-item" href=""><i class="bi bi-person-badge"></i>Roles</a>
  </div>
</div>

<!-- <div class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
  Orders
</div> -->
<!-- <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
  Orders
</button>
<div class="collapse" id="orders-collapse">
  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New</a></li>
    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Processed</a></li>
    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Shipped</a></li>
    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Returned</a></li>
  </ul>
</div> -->
<!--

-->
