:host() {
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: var(--app-header-height);
  width: 100%;
  box-shadow: 0 0 6px RGBA(0, 0, 0, 0.2);
  padding: 0 1rem;
  background-color: var(--bg-color-header);
}


a,
a:hover,
a:focus,
a:active {
  color: var(--c-text-primary);
  text-decoration: none;
  font-size: 0.875rem;
  vertical-align: top;
  margin-left: 0.125rem;
  font-weight: 500;
}

.head-nav {
  width: 50%;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2rem;
  height: 100%;
  cursor: pointer;
}

.profile-img {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  border-radius: 5px;
}

.dropdown-menu {
  background: var(--bg-color-header) !important;
}
