@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i");

:host() {
	flex: 1;
	overflow: auto;
	position: relative;
}
.app__content {
    padding: 1rem 1rem 0.25rem 1.5rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
  }

.page-title {
	font-size: 24px;
	font-weight: 600;
}

/* .modal-xl {
    max-width: 100%;
} */

.modal-case.modal-select-cases .modal-select-cases-stats, .modal-select-cases.regular-modal .modal-select-cases-stats {
    float: right;
    display: flex;
    align-items: center;
    margin-top: 4px;
	padding: 25px 29px 27px 32px;
    border: 1px solid #000;
    border-radius: 6px;

}

.modal-heading {
	flex: 0 1 auto;
}

.filters-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filters-block-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.case-search-input {
    position: relative;
}

.case-search {
    display: inline-block;
}

.me-2 {
    margin-right: .5rem !important;
}

.add-filter-outer {
    position: relative;
}

.add-filter-button {
    font-size: .875rem;
    text-decoration: none;
    color: #e52325;
    position: relative;
    font-weight: 600;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
}

.l-col {
	font-size: 14px;
	font-weight: 600;
}

.l-col i {
	width: 100px;
}

.r-col {
	border-left: 2px solid lightgray;
}

.r-col-header {
	width: 100%;
	margin-bottom: 8px;

	font-size: 14px;
	font-weight: 600;

	border-radius: 6px;
	background-color: #00000008;

}


.page-something {
	font-size: 12px;
	font-weight: 500;
}

 .page-button {
	height: fit-content;
}
