<div id="app__content">
    <div class="container-fluid app__content">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col">
                        <h3 class="page-title">
                            <a title="Test plan list" href="/projects/plan" >
                                <i class="submenu-toggle bi bi-arrow-left"></i>
                            </a> Create Test Plan
                        </h3>
                    </div>
                </div>
                <form class="form-create-plan">
                    <div class="form-block">
                        Plan details
                    </div>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div id="titleGroup" class="form-group">
                                <label for="title" class="control-label required">Title</label>
                                <div class="mb-3">
                                    <input class="form-control" type="Text" name="title" id="title" placeholder="For example: Regression" required="" value="">
                                </div>
                                <div class="form-control-feedback hide">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div id="titleGroup" class="form-group">
                                <label for="title" class="control-label required">Description</label>
                                <div class="mb-3">
                                    <input class="form-control" type="Text" name="title" id="title" placeholder="For example: Full Regression" required="" value="">
                                </div>
                                <div class="form-control-feedback hide">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <p class="page-something">0 test cases selected</p>
                            <button id="edit-plan-add-cases-button" class="btn btn-invisible b-0 ms-0 p-0 me-3 mb-3 page-button" type="button" data-bs-toggle="modal" data-bs-target="#addcases"><i class="bi bi-plus-circle-fill text-red"></i> Add cases</button>
                        </div>
                        <hr>
                    </div>
                    <div class="save-menu-wrapper">
                        <div class="text-start save-menu">
                            <button id="save-plan" class="btn btn-primary me-3 save-button" type="submit">Create plan</button>
                            <button class="btn btn-invisible-danger b-0">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Add cases modal -->
<div class="modal fade modal-dialog modal-xl" id="addcases" tabindex="-1" aria-labelledby="casesLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="casesLabel">Select Test Cases</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
            <div class="filters-block">
                <div class="filters-block-items">
                    <div class="form-inline case-search case-search-input me-2">
                        <input type="text" name="title" class="form-control search-input" placeholder="Search for cases" value="">
                    </div>
                </div>
                <div class="add-filter-outer">
                    <button class="add-filter-button">+ Add filter</button>
                </div>
            </div>
            <form>
                <div class="row mt-3">
                    <!-- LEFT COLUMN -->
                    <div class="col-4">
                        <div class="row mt-2 d-flex align-items-center">
                            <div class="col">
                                <label><input type="checkbox" name="checkbox" value="value">  Login</label>
                            </div>
                            <div class="col-1 d-flex justify-content-end">
                                <span class="me-1 l-col">0/3</span>
                                <button type="button" class="btn p-0 l-col"><i class="bi bi-three-dots"></i></button>
                            </div>
                        </div>

                        <div class="row mt-2 d-flex align-items-center">
                            <div class="col">
                                <label><input type="checkbox" name="checkbox" value="value">  Main Dashboard</label>
                            </div>
                            <div class="col-1 d-flex justify-content-end">
                                <span class="me-1 l-col">0/7</span>
                                <button type="button" class="btn p-0 l-col"><i class="bi bi-three-dots"></i></button>
                            </div>
                        </div>

                        <div class="row mt-2 d-flex align-items-center">
                            <div class="col">
                                <label><input type="checkbox" name="checkbox" value="value">  Product Module</label>
                            </div>
                            <div class="col-2 d-flex justify-content-end">
                                <span class="me-1 l-col">0/6</span>
                                <button type="button" class="btn p-0 l-col"><i class="bi bi-three-dots"></i></button>
                            </div>
                        </div>

                        <div class="row mt-2 d-flex align-items-center">
                            <div class="col">
                                <label><input type="checkbox" name="checkbox" value="value">  Recipe Module</label>
                            </div>
                            <div class="col-1 d-flex justify-content-end">
                                <span class="me-1 l-col">0/10</span>
                                <button type="button" class="btn p-0 l-col"><i class="bi bi-three-dots"></i></button>
                            </div>
                        </div>

                        <div class="row mt-2 d-flex align-items-center">
                            <div class="col">
                                <label><input type="checkbox" name="checkbox" value="value">  Shopping List</label>
                            </div>
                            <div class="col-1 d-flex justify-content-end">
                                <span class="me-1 l-col">0/9</span>
                                <button type="button" class="btn p-0 l-col"><i class="bi bi-three-dots"></i></button>
                            </div>
                        </div>

                        <div class="row mt-2 d-flex align-items-center">
                            <div class="col">
                                <label><input type="checkbox" name="checkbox" value="value">  Basket Module</label>
                            </div>
                            <div class="col-1 d-flex justify-content-end">
                                <span class="me-1 l-col">0/5</span>
                                <button type="button" class="btn p-0 l-col"><i class="bi bi-three-dots"></i></button>
                            </div>
                        </div>

                        <div class="row mt-2 d-flex align-items-center">
                            <div class="col">
                                <label><input type="checkbox" name="checkbox" value="value">  Setting - Profile</label>
                            </div>
                            <div class="col-1 d-flex justify-content-end">
                                <span class="me-1 l-col">0/6</span>
                                <button type="button" class="btn p-0 l-col"><i class="bi bi-three-dots"></i></button>
                            </div>
                        </div>

                        <div class="row mt-2 d-flex align-items-center">
                            <div class="col">
                                <label><input type="checkbox" name="checkbox" value="value">  ActivMenu</label>
                            </div>
                            <div class="col-1 d-flex justify-content-end">
                                <span class="me-1 l-col">0/1</span>
                                <button type="button" class="btn p-0 l-col"><i class="bi bi-three-dots"></i></button>
                            </div>
                        </div>
                    </div>

                    <!-- RIGHT COLUMN -->
                    <div class="col-8 ps-4 r-col">
                        <div class="row r-col-header">
                            <div class="col py-3 ps-5">
                                <span>Login</span>
                            </div>
                        </div>

                        <div class="row r-col-header">
                            <div class="col py-3 ps-5">
                                <span>Main Dashboard</span>
                            </div>
                        </div>

                        <div class="row r-col-header">
                            <div class="col py-3 ps-5">
                                <span>Product Module</span>
                            </div>
                        </div>

                        <div class="row r-col-header">
                            <div class="col py-3 ps-5">
                                <span>Recipe Module</span>
                            </div>
                        </div>

                        <div class="row r-col-header">
                            <div class="col py-3 ps-5">
                                <span>Shopping List</span>
                            </div>
                        </div>

                        <div class="row r-col-header">
                            <div class="col py-3 ps-5">
                                <span>Basket Module</span>
                            </div>
                        </div>

                        <div class="row r-col-header">
                            <div class="col py-3 ps-5">
                                <span>Setting Profile</span>
                            </div>
                        </div>

                        <div class="row r-col-header">
                            <div class="col py-3 ps-5">
                                <span>ActivMenu</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
