<div class="container-fluid app__content">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col">
                    <h3 class="page-title">
                        <a title="Test plan list" routerLink="/projects/plan" >
                            <i class="submenu-toggle bi bi-arrow-left"></i>
                        </a> {{Page_title}}
                    </h3>
                </div>
            </div>
            
            <!-- Create Plan Content -->
            <div class="plan-title">
                Plan details
            </div>
            <hr>
            <div class="row mt-3">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div id="titleGroup" class="form-group">
                        <label for="title" class="page-label control-label required">Title</label>
                        <div class="mb-3">
                            <input [(ngModel)]="TestPlan_Title" class="form-control" type="Text" placeholder="For example: Regression">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div id="titleGroup" class="form-group">
                        <label for="title" class="page-label control-label required">Description</label>
                        <div class="mb-3">
                            <textarea [(ngModel)]="TestPlan_Desc" class="form-control"
                                placeholder="For example: Full Regression">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <p class="page-something">{{ACLength}} test cases selected</p>
                    <button class="add-cases button-blue-transparent btn  b-0 p-0" type="button" data-bs-toggle="modal" data-bs-target="#addcases">
                        <i class="bi bi-plus-circle-fill"></i> 
                        Add cases
                    </button>
                </div>
            </div>
            <hr>
            <div class="mt-1">
                <button type="button" class="btn btn-primary me-3" (click)="updateInsertTestPlan()">
                    {{Button_title}}
                </button>
                <button class="btn btn-invisible-danger b-0" routerLink="/projects/plan">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Add cases modal -->
<div class="modal fade" id="addcases" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <div>
                    <h5 class="modal-title" id="casesLabel">Select Test Cases</h5>
                    <div class="filters-block">
                        <div class="filters-block-items">
                            <div class="case-search-input me-2">
                                <input type="text" name="title" class="form-control form-control-sm" placeholder="Search for cases" (keyup)="applyFilter($event)">
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="filter-span" data-bs-toggle="dropdown">+ Add filter</span>
                            <div class="dropdown-menu">
                                <div class="dropdown-item">Priority</div>
                                <div class="dropdown-item">Severity</div>
                                <div class="dropdown-item">Type</div>
                                <div class="dropdown-item">Behavior</div>
                                <div class="dropdown-item">Status</div>
                                <div class="dropdown-item">Automation</div>
                                <div class="dropdown-item">Layer</div>
                                <div class="dropdown-item">Is flaky</div>
                                <div class="dropdown-item">Milestones</div>
                                <div class="dropdown-item">Tags</div>
                                <div class="dropdown-item">Steps</div>
                                <div class="dropdown-item">Author</div>
                                <div class="dropdown-item">Last Run Date</div>
                                <div class="dropdown-item">Creation Date</div>
                                <div class="dropdown-item">Last Update Date</div>
                                <div class="dropdown-item">External Issue</div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeAddCases()"></button>
                <div class="modal-select-cases-stats">
                    <p class="cases-count">{{addCasesLength}} test cases selected</p>
                </div>
            </div>
            <hr class="divider">
            <div class="modal-body">
                <div class="row cases-row">
                    <!-- LEFT COLUMN -->
                    <div class="suites-column">
                        <!-- Display Nodes -->
                        <ng-container *ngFor="let suite of suites;">
                            <ng-container *ngIf="suite.Project_ID == LinkParamID">
                            <ng-container *ngIf="suite.Parent_SuiteID == 0">
                                
                                <!-- <app-suites-plan [Suite]="suite" (click)="selectAll()" (sendSuiteID)="receiveID($event)" (sendSuiteName)="receiveName($event)" (sendSuiteDesc)="receiveDesc($event)"></app-suites-plan> -->
                                <div class="d-flex justify-content-between suite w-100">
                                    <mat-checkbox (change)="selectAll($event)"></mat-checkbox>
                                      <div class="d-flex align-items-center item-suite">
                                        <!-- ID is temporary -->
                                        <a type="button" class="button-blue-transparent suite-name" (click)="receiveID(suite.Suite_ID); receiveName(suite.Suite_Name); receiveDesc(suite.Suite_Desc)">{{suite.Suite_Name}}</a>
                                      </div>
                                      <div class="suite-setting">
                                        <span class="me-1">0/{{suite.Case_Count}}</span>
                                      </div>
                                  </div>

                                <!-- Run Template to display looping Leaf -->
                                <div class="ms-3">
                                    <ng-container *ngTemplateOutlet="tree; context:{ $implicit: suite}"></ng-container>
                                </div>
                                <!-- </div> -->
                            </ng-container>
                            </ng-container>
                        </ng-container>
                        <!-- Display Leaf -->
                        <ng-template #tree let-data>
                            <ng-container *ngFor="let s of suites">
                            <!-- Check if leaf exist display the leaf and loop again.-->
                            <!-- Check if leaf does not exist end the loop.-->
                            <ng-container *ngIf="data.Suite_ID == s.Parent_SuiteID">
                                <!-- <app-suites-plan [Suite]="s" (click)="selectAll()" (sendSuiteID)="receiveID($event)" (sendSuiteName)="receiveName($event)" (sendSuiteDesc)="receiveDesc($event)"></app-suites-plan> -->
                                <div class="d-flex justify-content-between suite w-100">
                                    <mat-checkbox (change)="selectAll($event)"></mat-checkbox>
                                      <div class="d-flex align-items-center item-suite">
                                        <!-- ID is temporary -->
                                        <a type="button" class="button-blue-transparent suite-name" (click)="receiveID(s.Suite_ID); receiveName(s.Suite_Name);  receiveDesc(s.Suite_Desc)">{{s.Suite_Name}}</a>
                                      </div>
                                      <div class="suite-setting">
                                        <span class="me-1">0/{{s.Case_Count}}</span>
                                      </div>
                                  </div>
                                <!-- Run the template leaf again -->
                                    <div class="ms-3">
                                        <ng-container *ngTemplateOutlet="tree; context: {$implicit:s}"></ng-container>
                                    </div>
                            </ng-container>
                            </ng-container>
                        </ng-template>
                    </div>

                    <!-- RIGHT COLUMN -->
                    <div class="cases-column ps-4">
                        <div class="r-col-header">
                            <div class="r-col-title">
                                {{S_Name}}
                            </div>
                        
                            <div class="r-col-buttons">
                                <button type="button" class="btn btn-secondary btn-col">
                                    Select all
                                </button>
                        
                                <button type="button" class="btn btn-secondary btn-col">
                                    Unselect all
                                </button>
                        
                                <button type="button" class="btn btn-secondary btn-col">
                                    Assign selected
                                </button>
                            </div>
                        </div>
                        <div class="r-col-header-desc">
                            {{S_Desc}}
                        </div>
                        <div class="cases-block">
                            <div class="row ps-3 r-col-table">
                                <table mat-table [dataSource]="casesDataSource" class="mat-elevation-z0" cellspacing="0">
                                    <ng-container matColumnDef="TestCase_CheckBox">
                                        <tr mat-header-row *matHeaderCellDef></tr>
                                        <td mat-cell *matCellDef="let element;">
                                            <!-- {{element.Case_ID}} -->
                                            <mat-checkbox [checked]="isCasesChecked" (change)="selectCase($event, element.Case_ID, S_Name)"></mat-checkbox>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="TestCase_Add">
                                        <tr mat-header-row *matHeaderCellDef></tr>
                                        <td mat-cell *matCellDef="let element;">
                                            <a href="#">
                                                <i class="bi bi-plus-circle-fill"></i>
                                            </a> 
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="TestCase_Title">
                                        <tr mat-header-row *matHeaderCellDef></tr>
                                        <td mat-cell *matCellDef="let element;">
                                            <div class="row d-flex align-items-center">
                                                <div class="column-title">
                                                    {{element.Case_Title}}
                                                </div>
                                
                                                <div class="row column-subtitle mt-2">
                                                    <div class="col">
                                                        {{element.Case_Desc}}
                                                    </div>
                                                    <div class="col">
                                                        Normal
                                                    </div>
                                                    <div class="col">
                                                        Not set
                                                    </div>
                                                    <div class="col">
                                                        Other
                                                    </div>
                                                    <div class="col">
                                                        Not set
                                                    </div>
                                                    <div class="col">
                                                        Last run:
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </ng-container>
    
                                    <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="divider">
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="getSelectedCase()">Done</button>
                <button class="btn btn-invisible-danger b-0" data-bs-dismiss="modal" (click)="closeAddCases()">Cancel</button>
            </div>
        </div>
    </div>
</div>
