
:host() {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.history-username {
  font-size: 0.8rem;
}

.history-role {
  font-size: .75rem;
  opacity: .75;
}

.revision-body {
  padding-right: 1.5rem;
  flex: 1;
}


.revision-body .element-title {
  font-size: .875rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid #dedede;
}

.revision-body .element-before,
.revision-body .element-after {
  flex: .5;
  font-size: .875rem;
  word-break: break-all;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.revision-body .element-divider {
  flex: 0 0 0.75rem;
}

.revision-body .element-after {
  flex: .5;
  font-size: .875rem;
  word-break: break-all;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
