<div class="container-fluid">
	<div class="row p-2">
		<div class="col-lg-12">

			<div class="row">
				<div class="col">
					<h2 class="my-3 page-title">ACTIVMENU Repository<span class="ms-2 page-something">8 suites | 47 tests</span>
					</h2>
				</div>
				<div class="col d-flex justify-content-end align-items-center">
					<button class="btn btn-light page-button">
						<i class="bi bi-three-dots"></i>
					</button>
				</div>
			</div>

			<div class="row">
				<div class="d-flex col">
					<div class="me-2">
						<button type="button" class="btn btn-primary">+ Suite</button>
					</div>
					<div class="me-2">
						<button type="button" class="btn btn-primary">+ Case</button>
					</div>
					<div class="me-2">
						<input type="text" class="form-control search_input" placeholder="Search for projects">
					</div>
					<div>
						<a type="button" class="btn add-filter-button">+ Add filter</a>
					</div>
				</div>
			</div>


			<div class="row mt-3">
				<!-- LEFT COLUMN -->
				<div class="col-2">
					<div class="row d-flex align-items-center">
						<div class="col">
							<button type="button" class="btn p-0 suites-button"><i class="bi bi-list me-1"></i>Suites</button>
						</div>
						<div class="col d-flex justify-content-end">
							<button type="button" class="btn btn-light me-1"><i class="bi bi-chevron-double-up"></i></button>
							<button type="button" class="btn btn-light"><i class="bi bi-chevron-double-down"></i></button>
						</div>
					</div>

					<div class="row mt-2 d-flex align-items-center">
						<div class="col">
							<button type="button" class="btn p-0 pb-1 l-col"><i class="bi bi-caret-right-fill me-1"></i>Login</button>
						</div>
						<div class="col-1 d-flex justify-content-end">
							<span class="me-1 l-col">3</span>
							<button type="button" class="btn p-0 l-col"><i class="bi bi-three-dots"></i></button>
						</div>
					</div>

					<div class="row mt-2 d-flex align-items-center">
						<div class="col">
							<button type="button" class="btn p-0 pb-1 l-col"><i class="bi bi-caret-right-fill me-1"></i>Main Dashboard</button>
						</div>
						<div class="col-1 d-flex justify-content-end">
							<span class="me-1 l-col">7</span>
							<button type="button" class="btn p-0 l-col"><i class="bi bi-three-dots"></i></button>
						</div>
					</div>

					<div class="row mt-2 d-flex align-items-center">
						<div class="col">
							<button type="button" class="btn p-0 pb-1 l-col"><i class="bi bi-caret-right-fill me-1"></i>Product Module</button>
						</div>
						<div class="col-2 d-flex justify-content-end">
							<span class="me-1 l-col">6</span>
							<button type="button" class="btn p-0 l-col"><i class="bi bi-three-dots"></i></button>
						</div>
					</div>

					<div class="row mt-2 d-flex align-items-center">
						<div class="col">
							<button type="button" class="btn p-0 pb-1 l-col"><i class="bi bi-caret-right-fill me-1"></i>Recipe Module</button>
						</div>
						<div class="col-1 d-flex justify-content-end">
							<span class="me-1 l-col">10</span>
							<button type="button" class="btn p-0 l-col"><i class="bi bi-three-dots"></i></button>
						</div>
					</div>

					<div class="row mt-2 d-flex align-items-center">
						<div class="col">
							<button type="button" class="btn p-0 pb-1 l-col"><i class="bi bi-caret-right-fill me-1"></i>Shopping List</button>
						</div>
						<div class="col-1 d-flex justify-content-end">
							<span class="me-1 l-col">9</span>
							<button type="button" class="btn p-0 l-col"><i class="bi bi-three-dots"></i></button>
						</div>
					</div>

					<div class="row mt-2 d-flex align-items-center">
						<div class="col">
							<button type="button" class="btn p-0 pb-1 l-col"><i class="bi bi-caret-right-fill me-1"></i>Basket Module</button>
						</div>
						<div class="col-1 d-flex justify-content-end">
							<span class="me-1 l-col">5</span>
							<button type="button" class="btn p-0 l-col"><i class="bi bi-three-dots"></i></button>
						</div>
					</div>

					<div class="row mt-2 d-flex align-items-center">
						<div class="col">
							<button type="button" class="btn p-0 pb-1 l-col"><i class="bi bi-caret-right-fill me-1"></i>Setting Profile</button>
						</div>
						<div class="col-1 d-flex justify-content-end">
							<span class="me-1 l-col">6</span>
							<button type="button" class="btn p-0 l-col"><i class="bi bi-three-dots"></i></button>
						</div>
					</div>

					<div class="row mt-2 d-flex align-items-center">
						<div class="col">
							<button type="button" class="btn p-0 pb-1 l-col"><i class="bi bi-caret-right-fill me-1"></i>ActivMenu</button>
						</div>
						<div class="col-1 d-flex justify-content-end">
							<span class="me-1 l-col">1</span>
							<button type="button" class="btn p-0 l-col"><i class="bi bi-three-dots"></i></button>
						</div>
					</div>
				</div>

				<!-- RIGHT COLUMN -->
				<div class="col-10 ps-4 r-col">
					<div class="row r-col-header">
						<div class="col py-3 ps-5">
							<span>Login</span>
						</div>
					</div>

					<div class="row r-col-header">
						<div class="col py-3 ps-5">
							<span>Main Dashboard</span>
						</div>
					</div>

					<div class="row r-col-header">
						<div class="col py-3 ps-5">
							<span>Product Module</span>
						</div>
					</div>

					<div class="row r-col-header">
						<div class="col py-3 ps-5">
							<span>Recipe Module</span>
						</div>
					</div>

					<div class="row r-col-header">
						<div class="col py-3 ps-5">
							<span>Shopping List</span>
						</div>
					</div>

					<div class="row r-col-header">
						<div class="col py-3 ps-5">
							<span>Basket Module</span>
						</div>
					</div>

					<div class="row r-col-header">
						<div class="col py-3 ps-5">
							<span>Setting Profile</span>
						</div>
					</div>

					<div class="row r-col-header">
						<div class="col py-3 ps-5">
							<span>ActivMenu</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
