<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div class="container-fluid">
  <div class="row p-3">
    <div class="col-lg-12">

      <h2 class="mt-2 page-title">Projects</h2>

      <div class="row mt-3">
        <div class="d-flex align-items-center">
          <div class="me-3">
            <button type="button" class="btn btn-primary" routerLink="/projects/create">
              Create new project
            </button>
          </div>
          <div class="me-3">
            <input type="text" class="form-control search_input" placeholder="Search for projects"
              (keyup)="applyFilter($event)">
          </div>
          <div class="me-3">
            <div class="btn btn-primary" data-bs-toggle="dropdown">
              Status: <span id = 'filter-status'>Multiple</span>
            </div>
            <div class="dropdown-menu">
              <mat-radio-group aria-label="Select an option" class="d-flex flex-column" [(ngModel)]="statusSelect" (change) = "changeDropdownText()">
                <mat-radio-button value="" class="mb-2" (change)="applyFilter(undefined,$event)">All</mat-radio-button>
                <mat-radio-button value="Active" class="mb-2" (change)="applyFilter(undefined,$event)">Active</mat-radio-button>
                <mat-radio-button value="Archived" (change)="applyFilter(undefined,$event)">Archived</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <!-- toggle(n) n = items in +Filter , for dynamic show/hide button and filter options -->
          <!-- 1 Defects -->
          <!-- 2 Test Runs -->
          <!-- 3 Milestones -->
          <!-- Member -->
          
          <div class="me-3" [hidden] = "hideDefects"> 
            <div class="btn btn-primary" data-bs-toggle="dropdown">
              Defects: <span id = 'filter-defects'></span><button class="filter-remove" (click)="toggle(1)">X</button>
            </div>
            <div class="dropdown-menu">
              <mat-radio-group aria-label="Select an option" class="d-flex flex-column" [(ngModel)]="defectsSelect" (change) = "changeDropdownText()">
                <mat-radio-button value="Without defects" class="mb-2" (change)="applyFilter(undefined,$event)">Without defects</mat-radio-button>
                <mat-radio-button value="Has defects" (change)="applyFilter(undefined,$event)">Has defects</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="me-3" [hidden] = "hideTest"> 
            <div class="btn btn-primary" data-bs-toggle="dropdown">
              Test runs: <span id = 'filter-test'></span><button class="filter-remove" (click)="toggle(2)">X</button>
            </div>
            <div class="dropdown-menu">
              <mat-radio-group aria-label="Select an option" class="d-flex flex-column" [(ngModel)]="testSelect" (change) = "changeDropdownText()">
                <mat-radio-button value="Without runs" class="mb-2" (change)="applyFilter(undefined,$event)">Without runs</mat-radio-button>
                <mat-radio-button value="Has active runs" (change)="applyFilter(undefined,$event)">Has active runs</mat-radio-button>
                <mat-radio-button value="Has any runs" (change)="applyFilter(undefined,$event)">Has any runs</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="me-3" [hidden] = "hideMilestones">
            <div class="btn btn-primary" data-bs-toggle="dropdown">
              Milestones: <span id = 'filter-milestones'></span><button class="filter-remove" (click)="toggle(3)">X</button>
            </div>
            <div class="dropdown-menu">
              <mat-radio-group aria-label="Select an option" class="d-flex flex-column" [(ngModel)]="milestonesSelect" (change) = "changeDropdownText()">
                <mat-radio-button value="Without milestones" class="mb-2" (change)="applyFilter(undefined,$event)">Without milestones</mat-radio-button>
                <mat-radio-button value="Has milestones" (change)="applyFilter(undefined,$event)">Has milestones</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="me-3" [hidden] = "hideMember"> 
            <div class="btn btn-primary" data-bs-toggle="dropdown">
              Member: <span id = 'filter-member'></span><button class="filter-remove" (click)="toggle(4)">X</button>
            </div>
            <div class="dropdown-menu">
              <mat-radio-group aria-label="Select an option" class="d-flex flex-column" [(ngModel)]="memberSelect" (change) = "changeDropdownText()">
                <mat-radio-button value="Without runs" class="mb-2" (change)="applyFilter(undefined,$event)">Without runs</mat-radio-button>
                <mat-radio-button value="Has active runs" (change)="applyFilter(undefined,$event)">Has active runs</mat-radio-button>
                <mat-radio-button value="Has any runs" (change)="applyFilter(undefined,$event)">Has any runs</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
      
          <div class="d-flex align-items-center">
            <span class="filter-span" data-bs-toggle="dropdown" [hidden] = "!hideAddFilter">+ Add filter</span>
            <div class="dropdown-menu">
              <div class="dropdown-item" [hidden] = "!hideDefects" (click)="toggle(1)">Defects</div>
              <div class="dropdown-item" [hidden] = "!hideTest" (click)="toggle(2)">Test runs</div>
              <div class="dropdown-item" [hidden] = "!hideMilestones" (click)="toggle(3)">Milestones</div>
              <div class="dropdown-item" [hidden] = "!hideMember" (click)="toggle(4)">Member</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
          <ng-container matColumnDef="Project_Image">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center justify-content-end">
                <img class="project-image" routerLink="/projects/repository" src="../../assets/img/placeholder.jpg">
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="Project_Name">
            <th mat-header-cell *matHeaderCellDef>Project Name</th>
            <td mat-cell *matCellDef="let element">
              <div class="row d-flex align-items-center">
                <div class="column-title" (click)="setLocalstorage(element.Project_ID)"
                  routerLink="/projects/repository/{{element.Project_ID}}">
                  {{element.Project_Name}}</div>
                <div class="column-subtitle">{{element.Project_Desc}}</div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="Unresolved">
            <th mat-header-cell *matHeaderCellDef>Unresolved Defects</th>
            <td mat-cell *matCellDef="let element">
              <div class="column-defects">
                <i class="bi bi-check me-1"></i>
                <span id="defects">No open defects</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="TestRun">
            <th mat-header-cell *matHeaderCellDef>Test Runs</th>
            <td mat-cell *matCellDef="let element">
              <span>No test runs</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="Milestone">
            <th mat-header-cell *matHeaderCellDef>Milestones</th>
            <td mat-cell *matCellDef="let element">
              <span>No milestones</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="Members">
            <th mat-header-cell *matHeaderCellDef>Team Members</th>
            <td mat-cell *matCellDef="let element">
              <div class="d-none d-lg-block project-team">
                <img src="../../assets/img/placeholder.jpg">
                <img src="../../assets/img/placeholder.jpg">
                <img src="../../assets/img/placeholder.jpg">
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="Setting">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex justify-content-end">
                <button class="btn three-dots" data-bs-toggle="dropdown">
                  <i class="bi bi-three-dots"></i>
                  <div class="dropdown-menu">
                    <div class="dropdown-item"
                      (click)="openUpdateModal(element.Project_ID, element.Project_Name, element.Project_Desc, element.Project_Code, element.Project_AccessType)"
                      data-bs-toggle="modal" data-bs-target="#settingsModal">Settings</div>
                    <div class="dropdown-item" (click)="openDeleteModal(element.Project_ID, element.Project_Name)"
                      data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</div>
                  </div>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Settings Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i class="bi bi-arrow-left me-4" data-bs-toggle="tooltip" title="Go back" data-bs-dismiss="modal"></i>
          Settings
        </h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3">
            <div class="row">
              <img src="../../assets/img/placeholder.jpg">
            </div>
            <div class="text-center mt-2">
              <button class="btn update-btn"><i class="bi bi-upload me-2"></i>Update</button>
            </div>
          </div>
          <div class="col-9">
            <Label class="page-label">Project name</Label>
            <input [(ngModel)]="Project_Name" type="text" class="form-control">

            <div class="mt-4">
              <Label class="page-label">Project code
                <i class="bi bi-question-circle-fill tooltip-i" data-bs-toggle="tooltip" data-bs-placement="top"
                  title="Code is short name of your project. It should be from 2 to 10 letters. Only latin characters and numbers are allowed.">
                </i>
              </Label>
              <input [(ngModel)]="Project_Code" type="text" class="form-control">
              <div class="mt-1">
                <span>⚠️Changing the project code may break some external integrations and links.</span>
              </div>
            </div>

            <div class="mt-4">
              <Label class="page-label">Description</Label>
              <textarea [(ngModel)]="Project_Description" class="form-control"></textarea>
            </div>

            <div class="mt-4">
              <Label class="page-label">Project access type</Label>
              <mat-radio-group [(ngModel)]="Project_AccessType" class="d-flex flex-column">
                <mat-radio-button value="1">Private</mat-radio-button>
                <mat-radio-button value="2">Public</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary">Archive project</button>
        <button type="button" class="btn btn-primary" (click)="updateSettings()">Update settings</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i class="bi bi-arrow-left me-4" data-bs-toggle="tooltip" title="Go back" data-bs-dismiss="modal"></i>
          Delete project
        </h5>
      </div>
      <div class="modal-body">
        <h6>Are you sure, that you want delete project "{{Project_Name}}"?</h6>
        <p class="mb-0">This action can't be reversed. All entities including suites and cases will be removed.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="deleteProject()">Delete project</button>
      </div>
    </div>
  </div>
</div>
