@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i");

:host() {
  flex: 1;
  overflow: auto;
  position: relative;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/

.page-title {
  font-size: 24px;
  font-weight: 600;
}

.add-filter-button {
  font-weight: 600;
  color: #e52325;
}

.table-head label {
  color: gray;
  font-weight: 600;
}

.project-row {
  height: 100%;
  border-bottom: 1px solid lightgray;
}

.project-name {
  font-weight: 800;
}

.project-image img {
  width: 2.5rem;
  border-radius: 6px;
  display: inline-block;
}

.project-team img {
  width: 2rem;
  height: 2rem;
  display: inline;
  margin-right: 0.25rem;
  border-radius: 5px;
}

