<div class="container-fluid">
	<div class="row p-3">
		<div class="col-lg-12">

			<h2 class="mt-2 page-title">Projects</h2>

			<div class="row mt-3">
				<div class="d-flex col">
					<div class="me-3">
						<button (click)="navigate()" type="button" class="btn btn-primary create-project-button">Create new project</button>
					</div>
					<div class="me-2">
						<input type="text" class="form-control search_input" placeholder="Search for projects">
					</div>
					<div class="filter-outer dropdown me-2">
						<div class="filter-item" data-bs-toggle="dropdown">
							Status: <span id='filter-status'>Multiple</span>
						</div>
						<div class="dropdown-menu">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="">
								<label class="form-check-label">Active</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="">
								<label class="form-check-label">Archived</label>
							</div>
							<button type="button" class="btn btn-light mt-2">Select all</button>
						</div>
					</div>
					<div class="me-2">
						<a type="button" class="btn add-filter-button">+ Add filter</a>
					</div>
				</div>
			</div>

			<!-- TABLE HEAD -->
			<div class="row mt-4 table-head">
				<div class="col-4">
					<div class="row">
						<div class="col-1 px-0">
							<!-- Favorites -->
						</div>
						<div class="col-1 px-0">
							<!-- Project Image -->
						</div>
						<div class="col">
							<label>Project Name</label>
						</div>
					</div>
				</div>
				<div class="col-8">
					<div class="row">
						<div class="col d-none d-lg-block">
							<label>Unresolved Defects</label>
						</div>
						<div class="col d-none d-lg-block">
							<label>Test Runs</label>
						</div>
						<div class="col d-none d-lg-block">
							<label>Milestones</label>
						</div>
						<div class="col d-none d-lg-block">
							<label>Team Members</label>
						</div>
						<div class="col-1">
							<!-- Three Dots -->
						</div>
					</div>
				</div>
			</div>
			<!-- END OF TABLE HEAD -->

			<!-- TABLE BODY -->
			<div class="row mt-2">
				<div class="col-4">
					<div class="row py-2 d-flex align-items-center project-row">

						<div class="col-1 px-0 text-center">
							<a href="#">
								<i class="bi bi-star"></i>
							</a>
						</div>

						<div class="col-1 px-0 text-center project-image">
							<a href="#">
								<img src="../../assets/img/placeholder.jpg">
							</a>
						</div>

						<div class="col">
							<div>
								<a class="project-name" routerLink="/projects/repository">ActivMenu</a>
							</div>
							<div>
								<span>47 test cases | 8 suites | 2 active runs</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-8">
					<div class="row py-2 d-flex align-items-center project-row">

						<div class="col d-none d-lg-block">
							<div class="d-inline me-1">
								<i class="bi bi-check"></i>
							</div>
							<div class="d-inline">
								<span>No open defects</span>
							</div>
						</div>

						<div class="col d-none d-lg-block">
							<div>
								<span>No test runs</span>
							</div>
						</div>

						<div class="col d-none d-lg-block">
							<div>
								<span>No milestones</span>
							</div>
						</div>

						<div class="col d-none d-lg-block project-team">
							<img src="../../assets/img/placeholder.jpg">
							<img src="../../assets/img/placeholder.jpg">
							<img src="../../assets/img/placeholder.jpg">
						</div>

						<div class="col-1 d-flex justify-content-end">
							<button class="btn">
								<i class="bi bi-three-dots"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- END OF TABLE BODY -->

			<h1>{{test}}</h1>

		</div>
	</div>
</div>
