@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i");

:host() {
  flex: 1;
  overflow: auto;
  position: relative;
}

/* Labels */
.page-title {
  font-size: 24px;
  font-weight: 600;
}

.page-label {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: .25rem;
}

.column-title {
  color: #222;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.column-title:hover {
  color: #eb7374;
}

.filter-span,
.update-btn {
  font-weight: 600;
  color: var(--bs-red-100);
}

/* Images */
.project-image img {
  width: 2.5rem;
  margin: 10px 0;
  border-radius: 6px;
  display: inline-block;
}

.project-team img {
  width: 2rem;
  height: 2rem;
  display: inline;
  margin-right: 0.25rem;
  border-radius: 5px;
}

/* Buttons */
.filter-btn {
  font-weight: 600;
  color: #393939;
  background-color: #f3f3f3 !important;
  border: none;
}

.filter-btn:hover,
.filter-item:hover {
  background-color: #efefef !important;
}

.filter-span:hover {
  color: #eb7374;
}

.btn-outline-primary {
  font-size: .875rem;
  border-radius: .25rem;
  padding: .2rem .75rem;
  background-color: white !important;
  color: var(--bs-red-100) !important;
  border-color: var(--bs-red-100) !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.open>.dropdown-toggle.btn-outline-primary {
  border-color: #eb7374 !important;
  color: #eb7374 !important;
  box-shadow: none;
}

/* Checkbox */
input[type="checkbox"]:focus {
  box-shadow: none !important;
}

input[type="checkbox"]:checked {
  border-color: var(--bs-red-100) !important;
  background-color: var(--bs-red-100) !important;
}

/* Radio Button */
::ng-deep .mat-radio-label-content {
  font-weight: 400;
  font-size: 0.875rem;
  font-family: "Segoe UI", Arial, sans-serif;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #e52325;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #e52325;
}

/* Icons */
.bi-star {
  opacity: 0;
  font-size: 18px;
  color: #ffc107;
}

.bi-star:hover {
  opacity: 1;
}

.bi-check {
  color: #37bd47;
  font-size: 18px;
}

.three-dots {
  padding: 0 8px;
}

/* Columns */
.mat-header-cell {
  font-size: 0.9rem;
  font-weight: 600;
}

.mat-column-Favorite {
  width: 5%;
}

.mat-column-Project_Image {
  width: 5%;
}

.mat-column-Project_Name {
  width: 25%;
}

.mat-column-Unresolved {
  width: 15%;
}

.mat-column-TestRun {
  width: 15%;
}

.mat-column-Milestone {
  width: 15%;
}

.mat-column-Members {
  width: 15%;
}

.mat-column-Setting {
  width: 5%;
}

/* Misc */
.tooltip-i,
.filter-span,
.column-title,
.project-image img {
  cursor: pointer;
}

.btn-primary,
.filter-span {
  white-space: nowrap;
}

/* Dropdown */
.dropdown-item:hover {
  background-color: white;
  color: #eb7374;
}

.dropdown-item:active {
  background-color: white;
}