@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i");

:host() {
  flex: 1;
  overflow: auto;
  position: relative;
  background-color: var(--bg-color);
}

/* Labels */
.page-title {
  font-size: 24px;
  font-weight: 600;
}

.page-label {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: .25rem;
}

.column-title {
  color: var(--c-text);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.column-title:hover {
  color: #eb7374;
}

.filter-span,
.update-btn {
  font-weight: 600;
  color: var(--bs-red-100);
}

/* Images */
.project-image {
  width: 2.5rem;
  border-radius: 6px;
}

.project-team img {
  width: 2rem;
  height: 2rem;
  display: inline;
  margin-right: 0.25rem;
  border-radius: 5px;
}

/* Buttons */
.filter-item {
  font-size: .875rem;
  letter-spacing: .0892857143em;
  font-weight: 500;
}

.filter-item:hover {
  background-color: #efefef !important;
}

.filter-span:hover {
  color: #eb7374;
}

/* Checkbox */
input[type="checkbox"]:focus {
  box-shadow: none !important;
}

input[type="checkbox"]:checked {
  border-color: var(--bs-red-100) !important;
  background-color: var(--bs-red-100) !important;
}

/* Radio Button */
::ng-deep .mat-radio-label-content {
  font-weight: 400;
  font-size: 0.875rem;
  font-family: "Segoe UI", Arial, sans-serif;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #e52325;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #e52325;
}

/* Icons */
.bi-check {
  color: #37bd47;
  font-size: 18px;
}

.three-dots {
  color: var(--c-text);
  padding: 0 8px;
}

/* Columns */
.mat-header-cell {
  padding: 0 10px;
  font-size: var(--fs-default-second);
  font-weight: 600;
}

.mat-cell {
  padding: 10px;
}

.mat-column-Project_Image {
  width: 5%;
}

.mat-column-Project_Name {
  width: 30%;
}

.mat-column-Unresolved {
  width: 15%;
}

td {
  color: var(--c-text);
}

.mat-column-TestRun {
  width: 15%;
}

.mat-column-Milestone {
  width: 15%;
}

.mat-column-Members {
  width: 15%;
}

.mat-column-Setting {
  width: 5%;
}

/* Misc */
.tooltip-i,
.filter-span,
.column-title,
.project-image,
.dropdown-item:hover {
  cursor: pointer;
}

.btn-primary,
.filter-span {
  white-space: nowrap;
}

/* Dropdown */
.dropdown-menu {

  background: var(--bg-dropdown);
  box-shadow: var(--popup-shadow);
  border: var(--popup-border);
}

.dropdown-item {
  color: var(--c-text);
}

.dropdown-item:hover {
  background-color: white;
  color: #eb7374;
}

.dropdown-item:active {
  background-color: white;
}
