.dropzone {
  height: 17.5rem;
  border: 1px dashed #c3c3c3;
  border-radius: 0.375rem;
  background: rgba(224,243,247,.45);
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dropzone .dz-message {
  text-align: center;
  color: #3d4248;
  font-size: .875rem;
}
