@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i");

:host() {
  flex: 1;
  overflow: auto;
  position: relative;
}

.app__content {
  padding: 1rem 1.5rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

/* Labels */
.page-title {
  font-size: 24px;
  font-weight: 600;
}

.page-label {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: .25rem;
}

.small-text {
  font-size: .75rem;
}

.author-name {
  font-weight: 500;
}

.comment-time {
  opacity: .75;
}

.cancel-span {
  font-weight: 600;
  color: var(--bs-red-100);
  padding: 0rem 0.75rem;
}

.cancel-span:hover {
  color: #eb7374;
}

/* Images */
.author-img {
  width: 2rem;
  height: 2rem;
  display: inline;
  margin-right: 0.5rem;
  border-radius: 5px;
}

/* Button */
.filter-item {
  font-size: .875rem;
  letter-spacing: .0892857143em;
  font-weight: 500;
}

.filter-btn {
  font-weight: 600;
  color: #393939;
  background-color: #f3f3f3 !important;
  border: none;
}

.filter-btn:hover,
.filter-item:hover {
  background-color: #efefef !important;
}

/* Icons */
.bi-exclamation-circle-fill,
.bi-chevron-down {
  color: #ffc107;
}

.bi-x-circle,
.bi-x-circle-fill,
.bi-chevron-double-up,
.bi-chevron-up {
  color: var(--bs-red-100);
}

.bi-hourglass-top {
  color: #0dcaf0;
}

.bi-check-circle-fill {
  color: #198754;
}

/* Misc */
.tooltip-i,
.cancel-span,
.bi-arrow-left {
  cursor: pointer;
}

.btn-primary {
  white-space: nowrap;
}

/* Dropdown */
.select-item {
  background-color: var(--black-5);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: .25rem;
}