<div class="app__content">
	<div class="row">
		<div class="col-lg-12">

			<h2 class="page-title my-3"><i class="bi bi-arrow-left me-4" data-bs-toggle="tooltip"
					title="Go back" routerLink="/projects/defect"></i>Login user without verifying email</h2>

			<div class="row ">
        
        <div class="col-8">
          <div class="d-flex align-items-center mb-4">
            <div class="me-2">
              <button type="button" class="btn btn-primary">
                <i class="bi bi-arrow-right"></i>
                In Progress
              </button>
            </div>
            <div class="me-2">
              <button type="button" class="btn btn-primary">
                <i class="bi bi-check-lg"></i>
                Resolve
              </button>
            </div>
            <div class="me-2">
              <button type="button" class="btn btn-primary">
                <i class="bi bi-x-lg"></i>
                Invalid
              </button>
            </div>
            <div class="me-2">
              <button type="button" class="btn btn-primary filter-btn">
                Assign to me
              </button>
            </div>
            <div>
              <button type="button" class="btn btn-primary filter-btn">
                <i class="bi bi-pencil-fill"></i>
                Edit
              </button>
            </div>
          </div>

          <h6>Description</h6>
          <div class="mb-4">
            <span>Did not proceed login</span>
          </div>

          <h6>Comments</h6>
          <div class="d-flex align-items-center justify-content-middle">
            <img class="author-img" src="../../assets/img/placeholder.jpg">
            <input type="text" class="form-control me-2" placeholder="Write a comment">
            <!-- <button class="btn"><i class="bi bi-image-fill"></i></button> -->
            <button class="btn btn-primary">Send</button>
          </div>
        </div>

        <div class="col-4">
          <h6>Status</h6>
          <div class="mb-4">
            <i class="bi bi-exclamation-circle-fill me-2" data-bs-toggle="tooltip" title="Open"></i>
            <span>Open</span>
          </div>

          <h6>Milestone</h6>
          <div class="mb-4">
            <span>1</span>
          </div>

          <h6>Reporter</h6>
          <div class="mb-4">
            <img class="author-img" src="../../assets/img/placeholder.jpg">
            <span>Royce Esguerra</span>
          </div>

          <h6>Assignee</h6>
          <div class="mb-4">
            <span>Unassigned</span>
          </div>

          <h6>Created</h6>
          <div class="mb-4">
            <span>20 May 2022 at 14:43:31</span>
          </div>
        </div>
      </div>

		</div>
	</div>
</div>