<div class="app__content">
	<div class="row">
		<div class="col-lg-12">

			<h2 class="page-title my-3"><i class="bi bi-arrow-left me-4" data-bs-toggle="tooltip"
					title="Go back" routerLink="/projects/shared-steps"></i>Create shared step</h2>

			<div class="row mb-3">
				<div class="col-6">
					<Label class="page-label">Shared step title*</Label>
					<input type="text" class="form-control" placeholder="For example: Authorization">
				</div>
			</div>

			<div class="row m-0 mb-4">
				<span class="label-line ps-0">Steps to reproduce</span>
			</div>

			<div class="row mb-4">
				<div class="d-flex">
					<div class="d-flex align-items-end me-3">
						<span class="number-span">1</span>
					</div>

					<div class="row w-100">
						<div class="col pe-0">
							<Label class="page-label">Action*</Label>
							<input type="text" class="form-control" placeholder="For example: Open Sign in page">
						</div>
						<div class="col">
							<Label class="page-label">Input data</Label>
							<input type="text" class="form-control" placeholder="For example: Login / password">
						</div>
						<div class="col ps-0">
							<Label class="page-label">Expected result</Label>
							<input type="text" class="form-control" placeholder="For example: popup is opened">
						</div>
					</div>

					<div class="d-flex align-items-end">
						<i class="bi bi-image-fill mx-3" data-bs-toggle="tooltip" title="Add attachment"></i>
						<i class="bi bi-clipboard-fill me-3" data-bs-toggle="tooltip" title="Clone step"></i>
						<i class="bi bi-trash-fill" data-bs-toggle="tooltip" title="Delete step"></i>
					</div>
				</div>
			</div>

			<div class="mb-3">
				<span class="add-step-span"><i class="bi bi-plus-circle-fill me-2"></i>Add step</span>
			</div>

			<div class="row m-0 mb-3">
				<span class="label-line ps-0"></span>
			</div>

			<div class="row mb-5">
				<div class="d-flex align-items-center">
					<button class="btn btn-primary me-3">Create</button>
					<button class="btn btn-primary me-3">Save and create another</button>
					<span class="cancel-span" routerLink="/projects/shared-steps">Cancel</span>
				</div>
			</div>

		</div>
	</div>
</div>