<div class="container-fluid app__content">
  <div class="row">
    <div class="col-lg-12 mb-3">
      <h3 class="m-0">
        <a routerLink="../../4">
          <i class="bi bi-arrow-left-short"></i>
        </a>
        Create case
      </h3>
    </div>
    <div class="content">

      <div class="d-flex gap-2 mb-3">
        <button class="btns active" id="General">Edit</button>
        <button class="btns" id="Properties">Clone</button>
        <button class="btns" id="Run">Delete</button>
      </div>

      <div class="d-flex gap-2 content_header">
        <button class="btns active" id="General">General</button>
        <button class="btns" id="Properties">Properties</button>
        <button class="btns" id="Run">Runs</button>
        <button class="btns" id="History">History</button>
        <button class="btns" id="Defects">Defects</button>
        <button class="btns" id="Comments">Comments</button>
      </div>
    </div>
  </div>
</div>
