<div class="app__content">
  <div class="actualcon">


    <div class="row">
      <div class="col">
        <h2 class="my-3 page-title">
          {{project.Project_Name}} Repository<span class="ms-2 page-something">{{suites.length}} suites | {{testCases.length}} tests
            <span class="selected-something" *ngIf="SelectedTestCaseCount != 0">Selected: {{SelectedTestCaseCount}} tests | {{SelectedSuiteCount}} suite</span>
          </span>
        </h2>
      </div>
      <div class="col d-flex justify-content-end align-items-center">
        <div class="dropdown">
          <button class="btn btn-light page-button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="'../trashbin/' + LinkParamID "><i class="bi bi-trash2"></i> Trash bin</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="d-flex col">
        <div class="me-2">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="resetModal()">+ Suite</button>
        </div>
        <div class="me-2">
          <a type="button" [routerLink]="'../create/'+LinkParamID" class="btn btn-primary">+ Case</a>
        </div>
        <div class="me-2" *ngIf="SelectedTestCaseCount != 0">
          <a type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#MultiSelectModal"><i class="bi bi-trash2-fill"></i> Delete</a>
        </div>
        <div class="me-2">
          <input type="text" class="form-control search_input" placeholder="Search for cases">
        </div>
        <div>
          <a type="button" class="btn add-filter-button">+ Add filter</a>
        </div>
      </div>
    </div>


    <div class="row mt-3 list-container" id='list-container'>
      <!-- LEFT COLUMN -->
      <div class="col-2 l-col">
        <div class="d-flex flex-row justify-content-between mb-2">
          <button type="button" class="button-blue-transparent suite-burger p-0"><i class="bi bi-list me-1"></i>Suites</button>
          <div class="chevron">
            <button type="button" class="btn btn-light me-1" (click)="collapseAllToggle(true)"><i class="bi bi-chevron-double-up"></i></button>
            <button type="button" class="btn btn-light" (click)="collapseAllToggle(false)"><i class="bi bi-chevron-double-down"></i></button>
          </div>
        </div>
        <!-- Display Nodes -->
        <ng-container *ngFor="let suite of suites;">
          <ng-container *ngIf="suite.Project_ID == LinkParamID">
            <ng-container *ngIf="suite.Parent_SuiteID == 0">
              <div class="collapsed" (click)="toggleDropdown($event, suite)" [attr.data-bs-target]="'collapse-'+suite.Suite_ID" aria-expanded="true">
                <app-suite [Suite]="suite" [carretOpen]="suite.carretOpen" (createNewEvent)="createChildSuites($event)" (newItemEvent)="editSuite($event)" (newDeleteEvent)="deleteSuite($event)"></app-suite>
              </div>
              <div class="collapse show" [id]="'collapse-'+suite.Suite_ID">
                <!-- Run Template to display looping Leaf -->
                <ng-container *ngTemplateOutlet="tree; context:{ $implicit: suite}"></ng-container>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
        <!-- Display Leaf -->
        <ng-template #tree let-data>
          <ng-container *ngFor="let s of suites">
            <!-- Check if leaf exist display the leaf and loop again.-->
            <!-- Check if leaf does not exist end the loop.-->
            <ng-container *ngIf="data.Suite_ID == s.Parent_SuiteID">
              <div class="collapsed" (click)="toggleDropdown($event, s)" [attr.data-bs-target]="'collapse-'+s.Suite_ID" aria-expanded="true">
                <app-suite [Suite]="s" [carretOpen]="s.carretOpen" (createNewEvent)="createChildSuites($event)" (newItemEvent)="editSuite($event)" (newDeleteEvent)="deleteSuite($event)"></app-suite>
              </div>
              <div class="collapse show" [id]="'collapse-'+s.Suite_ID">
                <!-- Run the template leaf again -->
                <ng-container *ngTemplateOutlet="tree; context: {$implicit:s}"></ng-container>
              </div>
            </ng-container>
          </ng-container>
        </ng-template>
      </div>
      <!-- RIGHT COLUMN -->
      <div class="col-10 ps-3 r-col">
        <!-- Display Nodes -->
        <ng-container *ngFor="let suite of suites">
          <ng-container *ngIf="suite.Project_ID == LinkParamID">
            <ng-container *ngIf="suite.Parent_SuiteID == 0">
              <div class="collapsed" (click)="toggleDropdown($event, suite)" [ngClass]="suite.carretOpen? '':'mb-3'" [attr.data-bs-target]="'collapse-'+suite.Suite_ID" aria-expanded="true">
                <app-case [Suite]="suite" [checked]="suiteModel.isSelected(suite.Suite_ID)" [carretOpen]="suite.carretOpen" (selectEvent)="selectedSuiteCheck($event)" [projectID]="LinkParamID" (editNewEvent)="editSuite($event)" (newDeleteEvent)="deleteSuite($event)"></app-case>
              </div>
              <div class="collapse show" [id]="'collapse-'+suite.Suite_ID+'-case'">
                <div class="suite-description">
                  {{suite.Suite_Desc}}
                </div>
                <div class="caseContainer ">
                  <ng-container *ngFor="let testCase of testCases">
                    <ng-container *ngIf="testCase.Suite_ID == suite.Suite_ID">
                      <div class="caseRow d-flex flex-row align-items-center" (click)="openPanel($event, testCase)" tabindex="-1">
                        <mat-checkbox class="ms-3 me-3" (change)="selectedTestCaseCheck(testCase.Case_ID, suite.Suite_ID)" [checked]="testCaseModel.isSelected(testCase.Case_ID)">
                        </mat-checkbox>
                        <a class="button-blue-transparent">{{project.Project_Name}}</a>
                        <div class="caseDescription">{{testCase.Case_Title}}</div>
                      </div>
                      <div class="border-bottom"></div>
                    </ng-container>
                  </ng-container>
                  <input class="ms-5 mb-3 clearedInput" placeholder="+ Create quick test" [attr.suiteAttri]="suite.Suite_ID" (keyup.enter)="onQuickCaseEnter($event)">
                </div>
                <!-- Run Template to display looping Leaf -->
                <div class="ms-3">
                  <ng-container *ngTemplateOutlet="treeCase; context:{ $implicit: suite}"></ng-container>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
        <!-- Display Leaf -->
        <ng-template #treeCase let-data>
          <ng-container *ngFor="let s of suites">
            <!-- Check if leaf exist display the leaf and loop again.-->
            <!-- Check if leaf does not exist end the loop.-->
            <ng-container *ngIf="data.Suite_ID == s.Parent_SuiteID">
              <div class="collapsed" (click)="toggleDropdown($event, s)" [ngClass]="s.carretOpen? '':'mb-3'" [attr.data-bs-target]="'collapse-'+s.Suite_ID" aria-expanded="true">
                <app-case [Suite]="s" [checked]="suiteModel.isSelected(s.Suite_ID)" [carretOpen]="s.carretOpen" (selectEvent)="selectedSuiteCheck($event)" [projectID]="LinkParamID" (editNewEvent)="editSuite($event)" (newDeleteEvent)="deleteSuite($event)"></app-case>
              </div>
              <div class="collapse show" [id]="'collapse-'+s.Suite_ID+'-case'">
                <div class="suite-description">
                  {{s.Suite_Desc}}
                </div>
                <div class="caseContainer ">
                  <ng-container *ngFor="let testCase of testCases">
                    <ng-container *ngIf="testCase.Suite_ID == s.Suite_ID">
                      <div class="caseRow d-flex flex-row align-items-center" (click)="openPanel($event, testCase)" tabindex="-1">
                        <mat-checkbox class="ms-3 me-3" (change)="selectedTestCaseCheck(testCase.Case_ID, s.Suite_ID)" [checked]="testCaseModel.isSelected(testCase.Case_ID)">
                        </mat-checkbox>
                        <a class="button-blue-transparent">{{project.Project_Name}}</a>
                        <div class="caseDescription">{{testCase.Case_Title}}</div>
                      </div>
                    </ng-container>
                  </ng-container>
                  <input class="ms-5 mb-3 clearedInput" placeholder="+ Create quick test" [attr.suiteAttri]="s.Suite_ID" (keyup.enter)="onQuickCaseEnter($event)">
                </div>

                <!-- Run the template leaf again -->
                <div class="ms-3">
                  <ng-container *ngTemplateOutlet="treeCase; context: {$implicit:s}"></ng-container>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-template>
      </div>
    </div>

  </div>
</div>

<!-- TestCase Preview -->
<div class="CasePanel" #casePanel>
  <div class="d-flex justify-content-between align-items-center">
    <a href="#" class="projectPanelTitle button-blue-transparent">{{project.Project_Name}}</a>
    <div class="panelClose" (click)="closePanel()"><i class="bi bi-x"></i></div>
  </div>
  <h2 class="page-title">{{testCase.Case_Title}}</h2>
  <div class="panel-container">
    <div class="panelControl">
      <a class="btns " [routerLink]="'../create/'+project.Project_ID" [queryParams]="{case:testCase.Case_ID}"><i class="bi bi-pencil"></i> Edit</a>
      <button class="btns "><i class="bi bi-clipboard"></i> Clone</button>
      <button class="btns " (click)="deleteCase(testCase.Case_ID)"><i class="bi bi-trash2"></i> Delete</button>
    </div>
    <div class="panelNav" #panelNav>
      <button (click)="changePanelContent('General', $event)" class="btns active" id="General"><span> </span>General</button>
      <button (click)="changePanelContent('Properties', $event)" class="btns" id="Properties"><span> </span>Properties</button>
      <button (click)="changePanelContent('Run', $event)" class="btns" id="Run"><span></span>Runs</button>
      <button (click)="changePanelContent('History', $event)" class="btns" id="History"><span></span>History</button>
      <button (click)="changePanelContent('Defects', $event)" class="btns" id="Defects"><span></span>Defects</button>
      <button (click)="changePanelContent('Comments', $event)" class="btns" id="Comments"><span></span>Comments</button>
    </div>
    <div class="panelContent" #panelContent>

      <div class="panel-general" id="General" #General>
        <section class="mt-3">
          <label for="0-description" class="panelLabel">Description</label>
          <div class="markdown-area">
            {{testCase.Case_Desc}}
          </div>
        </section>
        <section class="mt-3">
          <label for="0-precondition" class="panelLabel">Pre-conditions</label>
          <div class="markdown-area">
            {{testCase.Case_PreCondition}}
          </div>
        </section>
        <section class="mt-3">
          <label for="0-postcondition" class="panelLabel">Post-conditions</label>
          <div class="markdown-area">
            {{testCase.Case_PostCondition}}
          </div>
        </section>

        <section class="mt-3">
          <label for="0-postcondition" class="panelLabel">Attachments</label>
          <div class="d-flex flex-wrap">

            <ng-container *ngFor="let attachment of this.testCaseAttachment">
              <ng-container *ngIf="attachment.byteFile.contentType.split('/')[0] == 'image'; else notImage">

                <div class="suitecase-attachment">
                  <div class="suitecase-attachment-container">
                    <div class="suitecase-attachment-image" (click)="downloadFile(attachment.Attachment_ID,attachment.Filename)" style="background: url(&quot;data:image/png;base64,{{attachment.byteFile.fileContents}}&quot;)">
                      <a class="suitecase-attachment-link is-image"></a>
                      <div class="suitecase-attachment-overlay">
                        <p class="suitecase-attachment-filename">{{attachment.Filename}}</p>
                        <div class="suitecase-attachment-overlay-bottom">
                          <p class="suitecase-attachment-size"> {{attachment.Filesize}}</p>
                          <button type="button" class="suitecase-attachment-remove"><i class="bi bi-x"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </ng-container>
              <ng-template #notImage>


                <div class="suitecase-attachment">
                  <div class="suitecase-attachment-container">
                    <div data-disable="false" class="suitecase-attachment-file" (click)="downloadFile(attachment.Attachment_ID,attachment.Filename)">
                      <a class="suitecase-attachment-link"></a>
                      <span class="suitecase-attachment-extension">{{attachment.byteFile.contentType.split('/')[0]}}</span>
                      <div class="suitecase-attachment-overlay">
                        <p class="suitecase-attachment-filename">{{attachment.Filename}}</p>
                        <div class="suitecase-attachment-overlay-bottom">
                          <p class="suitecase-attachment-size"> {{attachment.Filesize}}</p>
                          <button type="button" class="suitecase-attachment-remove"><i class="bi bi-x"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>

          </div>


        </section>
        <section class="mt-3">
          <label for="0-steps" class="panelLabel">Steps</label>
          <table mat-table [dataSource]="stepdataSource" class="mat-elevation-z0 table-steps">
            <ng-container matColumnDef="Step">
              <th mat-header-cell *matHeaderCellDef> Step </th>
              <td mat-cell *matCellDef="let element">
                <div class="markdown-area">{{element.Step_number}}</div>
              </td>
            </ng-container>
            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element">
                <div class="markdown-area">{{element.Step_Action}}</div>
              </td>
            </ng-container>
            <ng-container matColumnDef="Input">
              <th mat-header-cell *matHeaderCellDef> Input Data </th>
              <td mat-cell *matCellDef="let element">
                <div class="markdown-area">{{element.Step_InputData}}</div>
              </td>
            </ng-container>
            <ng-container matColumnDef="Expected">
              <th mat-header-cell *matHeaderCellDef> Expected Result </th>
              <td mat-cell *matCellDef="let element">
                <div class="markdown-area">{{element.Step_ExpectedResult}}</div>
                <div class="attachments attachments-small">
                  <ng-container *ngFor="let a of stepAttachments">
                    <ng-container *ngIf="element.Attachments_ID != undefined">
                      <ng-container *ngIf="element.Attachments_ID.includes(a.Attachment_ID)">
                        <ng-container *ngIf="a.byteFile.contentType.split('/')[0] == 'image'; else notImage">
                          <div class="attachment">
                            <a href="" target="_blank" rel="noreferrer">
                              <div class="attachment-image" [ngStyle]="{'background': 'url(&quot;data:image/png;base64,'+a.byteFile.fileContents+'&quot;)'}"></div>
                            </a>
                          </div>
                        </ng-container>
                      </ng-container>
                    </ng-container>

                    <ng-template #notImage>
                      <div class="attachment">
                        <a href="#" target="_blank" rel="noreferrer">
                          <div class="attachment-file"><span class="attachment-extension">{{a.byteFile.contentType.split('/')[0]}}</span></div>
                        </a>
                      </div>
                    </ng-template>

                  </ng-container>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </section>
      </div>
      <div class="panel-properties" id="Properties" #Properties>
        <div class="row mt-3">

          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 form-group">
            <label class="panelLabel">Severity</label>
            <mat-select class="select-item" [(value)]="this.Case_Severity">
              <mat-option value="1" class="select-item">
                Not set
              </mat-option>
              <mat-option value="2" class="select-item">
                Blocker
              </mat-option>
              <mat-option value="3" class="select-item">
                Critical
              </mat-option>
              <mat-option value="3" class="select-item">
                Major
              </mat-option>
              <mat-option value="3" class="select-item">
                Normal
              </mat-option>
              <mat-option value="3" class="select-item">
                Minor
              </mat-option>
              <mat-option value="3" class="select-item">
                Trival
              </mat-option>
            </mat-select>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 form-group">
            <label class="panelLabel">Priority</label>
            <mat-select class="select-item" [(ngModel)]="this.Case_Priority">
              <mat-option value="1" class="select-item">
                Not set
              </mat-option>
              <mat-option value="2" class="select-item">
                High
              </mat-option>
              <mat-option value="3" class="select-item">
                Medium
              </mat-option>
              <mat-option value="3" class="select-item">
                Low
              </mat-option>
            </mat-select>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 form-group">
            <label class="panelLabel">Type</label>
            <mat-select class="select-item" [(ngModel)]="this.Case_Type">
              <mat-option value="Other" class="select-item">
                Other
              </mat-option>
              <mat-option value="Functional" class="select-item">
                Functional
              </mat-option>
              <mat-option value="Smoke" class="select-item">
                Smoke
              </mat-option>
              <mat-option value="Regression" class="select-item">
                Regression
              </mat-option>
              <mat-option value="Security" class="select-item">
                Security
              </mat-option>
              <mat-option value="Usability" class="select-item">
                Usability
              </mat-option>
              <mat-option value="Performance" class="select-item">
                Performance
              </mat-option>
              <mat-option value="Acceptance" class="select-item">
                Acceptance
              </mat-option>
              <mat-option value="Compatibility" class="select-item">
                Compatibility
              </mat-option>
              <mat-option value="Integration" class="select-item">
                Integration
              </mat-option>
              <mat-option value="Exploratory" class="select-item">
                Exploratory
              </mat-option>
            </mat-select>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 form-group">
            <label class="panelLabel">Layer</label>
            <mat-select class="select-item" [(value)]="this.Case_Layer">
              <mat-option value="1" class="select-item">
                Not set
              </mat-option>
              <mat-option value="2" class="select-item">
                E2E
              </mat-option>
              <mat-option value="3" class="select-item">
                API
              </mat-option>
              <mat-option value="3" class="select-item">
                Unit
              </mat-option>
            </mat-select>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 form-group">
            <label class="panelLabel">Is flaky</label>
            <mat-select class="select-item" [(value)]="this.Case_Flaky">
              <mat-option value="1" class="select-item">
                No
              </mat-option>
              <mat-option value="2" class="select-item">
                Yes
              </mat-option>
            </mat-select>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 form-group">
            <label class="panelLabel">Milestone</label>
            <mat-select class="select-item" [(value)]="this.Case_Milestone">
              <mat-option value="1" class="select-item">
                Not set
              </mat-option>
            </mat-select>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 form-group">
            <label class="panelLabel">Behavior</label>
            <mat-select class="select-item" [(value)]="this.Case_Behavior">
              <mat-option value="1" class="select-item" selected>
                Not set
              </mat-option>
              <mat-option value="2" class="select-item">
                Positive
              </mat-option>
              <mat-option value="3" class="select-item">
                Negative
              </mat-option>
              <mat-option value="3" class="select-item">
                Destructive
              </mat-option>
            </mat-select>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 form-group">
            <label class="panelLabel">Automation status</label>
            <mat-select class="select-item" [(value)]="this.Case_AutoStat">
              <mat-option value="1" class="select-item" selected>
                Not automated
              </mat-option>
              <mat-option value="2" class="select-item">
                To be automated
              </mat-option>
              <mat-option value="3" class="select-item">
                Automated
              </mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <div class="panel-runs" id="Run" #Run>
        <table mat-table [dataSource]="runDataSource" class="mat-elevation-z0 panelTable mt-3">


          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element">

              <div class="column-title">{{element.title}}</div>
              <div class="column-subtitle">{{element.datestart}}</div>


            </td>
          </ng-container>

          <ng-container matColumnDef="environment">
            <th mat-header-cell *matHeaderCellDef> Environment </th>
            <td mat-cell *matCellDef="let element"> {{element.environment}} </td>
          </ng-container>

          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let element"> {{element.time}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Example with label" [ngStyle]="{'width.%': element.status }" attr.aria-valuenow="{{element.status}}" aria-valuemin="0" aria-valuemax="100">{{element.status}}%</div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="runDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: runDisplayedColumns;"></tr>

          <tr *matNoDataRow="">
            <td class="mat-cell" colspan="4"> No run result yet. </td>
          </tr>
        </table>

      </div>
      <div class="panel-history" id="History" #History>

        <div class="d-flex align-items-center  mt-3 ">
          <div class="align-self-start me-2"><img class="lazy avatar-sm" src="../../../../assets/img/placeholder.jpg"></div>
          <div class="revision-body">
            <div class="history-user">
              <div class="history-username"><span style="font-weight: bold;">Rica Isidto</span> has updated 1 field: Steps</div>
              <div class="history-role">2022-09-14 16:02:57</div>
            </div>

            <div class="revision-body">
              this is revised <br>
              this is revised <br>
              this is revised <br>
              this is revised <br>
              this is revised <br>
              this is revised <br>
              this is revised <br>
              this is revised <br>
              this is revised <br>
              this is revised <br>
              this is revised <br>
              this is revised <br>
              this is revised <br>
              this is revised <br>
            </div>
          </div>
        </div>

      </div>
      <div class="panel-defects" id="Defects" #Defects>
        <table mat-table [dataSource]="defectsDataSource" class="mat-elevation-z0 panelTable mt-3">
          <ng-container matColumnDef="Defect">
            <th mat-header-cell *matHeaderCellDef>Defect</th>
            <td mat-cell *matCellDef="let element">
            </td>
          </ng-container>

          <ng-container matColumnDef="Author">
            <th mat-header-cell *matHeaderCellDef>Author</th>
            <td mat-cell *matCellDef="let element">
            </td>
          </ng-container>

          <ng-container matColumnDef="Assignee">
            <th mat-header-cell *matHeaderCellDef>Assignee
            <th>
            <td mat-cell *matCellDef="let element">
              <span>No test runs</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="Severity">
            <th mat-header-cell *matHeaderCellDef>Severity</th>
            <td mat-cell *matCellDef="let element">
            </td>
          </ng-container>

          <ng-container matColumnDef="Milestone">
            <th mat-header-cell *matHeaderCellDef>Milestone</th>
            <td mat-cell *matCellDef="let element">
            </td>
          </ng-container>

          <ng-container matColumnDef="External">
            <th mat-header-cell *matHeaderCellDef>External</th>
            <td mat-cell *matCellDef="let element">
            </td>
          </ng-container>

          <ng-container matColumnDef="ThreeDots">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex justify-content-end">
                <button class="btn three-dots" data-bs-toggle="dropdown">
                  <i class="bi bi-three-dots"></i>
                  <div class="dropdown-menu">
                    <div class="dropdown-item">View</div>
                    <div class="dropdown-item">Assign to me</div>
                    <div class="dropdown-item">In Progress</div>
                    <div class="dropdown-item">Resolve</div>
                    <div class="dropdown-item">Invalid</div>
                    <div class="dropdown-item">Edit</div>
                    <div class="dropdown-item">Delete</div>
                  </div>
                </button>
              </div>
            </td>
          </ng-container>

          <tr *matNoDataRow="">
            <td class="mat-cell" colspan="7"> No defects yet. </td>
          </tr>

          <tr mat-header-row *matHeaderRowDef=" defectsDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: defectsDisplayedColumns;"></tr>
        </table>
      </div>
      <div class="panel-comments" id="Comments" #Comments>

        <div class="d-flex align-items-center  mt-3 ">
          <div class=" me-2"><img class="lazy avatar-sm" src="../../../../assets/img/placeholder.jpg"></div>
          <div class="comment-user">
            <div class="comment-username">Rica Isidto</div>
            <div class="comment-role">Software Quality Assurance Analyst</div>

          </div>
          <button id="addComment" class="btn btn-primary" style="margin-left: auto;" (click)="postComment()">Send</button>
        </div>
        <div class="mt-1">
          <quill-editor [styles]="{width: '100%'}" [modules]="editorOptions" (onContentChanged)="commentContent($event)">

          </quill-editor>
        </div>

        <div class="mt-4">
          <ng-container *ngFor="let comment of caseComments">
            <div class="d-flex w-100 mt-3">
              <div class="me-2 comment-avatar">
                <img class="lazy avatar-sm" src="../../../../assets/img/placeholder.jpg">
              </div>
              <div class="d-flex flex-column w-100">
                <div class="comment-user">
                  <div class="comment-username">{{comment.User_Firstname}} {{comment.User_Lastname}}</div>
                  <div class="comment-role">{{comment.RoleTitle}}</div>
                </div>
                <quill-view (onEditorCreated)="displayCommentContent($event, comment.Comment_Content)" [modules]="{}"> </quill-view>
                <div class="comment-date">{{comment.Comment_Date}}</div>
              </div>
            </div>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">

        <h5 class="modal-title" id="exampleModalLabel">{{Modal_Title}}</h5>

        <div class="mb-3">
          <label for="SuiteName" class="form-label">Suite name</label>
          <input type="text" class="form-control" id="SuiteName" [(ngModel)]="Suite_Name">
        </div>
        <div class="mb-3">
          <label for="SuiteName" class="form-label">Parent suite</label>
          <select class="form-select" aria-label="Default select example" [(ngModel)]="Suite_Root">
            <option value='ProjectRoot|{{project.Project_ID}}'>Project Root</option>

            <ng-container *ngFor="let suite of suites">

              <ng-container *ngIf="!preventSuiteID.includes(suite.Suite_ID)">
                <option value='ParentRoot|{{suite.Suite_ID}}'>{{suite.Suite_Name}}</option>
              </ng-container>

              <ng-container *ngIf="suite.Suite_ID.toString() == Parent_SuiteID">
                <option value='ParentRoot|{{suite.Suite_ID}}'>{{suite.Suite_Name}}</option>
              </ng-container>
            </ng-container>
          </select>

        </div>

        <div class="mb-3">
          <label for="Description" class="form-label">Description</label>
          <input type="text" class="form-control" id="Description" [(ngModel)]="Description">
        </div>
        <div class="mb-3">
          <label for="Preconditions" class="form-label">Preconditions</label>
          <input type="text" class="form-control" id="Preconditions" [(ngModel)]="Preconditions">
        </div>
        <div class="d-flex flex-row justify-content-end">
          <button type="button" class="btn btn-transparent" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="insertUpdateSuite()">{{Modal_btn}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<button #openDeleteSuiteModal [hidden]="true" data-bs-toggle="modal" data-bs-target="#deleteSuiteModal">Open Modal</button>
<!-- Delete Suite Modal -->
<div class="modal fade" id="deleteSuiteModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4">

        <h4 class="modal-title mb-1"> <i class="bi bi-exclamation-triangle-fill"></i> Delete Suite</h4>
        <p class="deleteSubPara">Are you sure, that you want delete suite "{{dataTitleDelete}}"?</p>
        <p class="mt-2">This suite contains <strong class="d-inline-block">{{countSuiteChild}}</strong> suites and <strong class="d-inline-block">{{numberOfCasesDelete}}</strong> cases.
          You can move them to another suite or delete them.</p>

        <div class="form-floating mb-3">
          <ng-container *ngIf="currentSuiteDelete">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" [(ngModel)]="preventDeleteSuiteParent">
              <option value='delete'>Delete them</option>
              <option value='ProjectRoot|{{project.Project_ID}}'>Project Root</option>
              <ng-container *ngFor="let suite of suites">
                <ng-container *ngIf="!preventSuiteID.includes(suite.Suite_ID)">
                  <option value='ParentRoot|{{suite.Suite_ID}}'>{{suite.Suite_Name}}</option>
                </ng-container>
              </ng-container>
            </select>
          </ng-container>
          <label for="floatingSelect">Move to suite</label>
        </div>
        <div class="d-flex align-items-center justify-content-end">
          <span class="cancel-span me-3" data-bs-dismiss="modal">Cancel</span>
          <button type="button" class="btn btn-primary" (click)="deleteSuiteData()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

<button #openMultiSelectModal [hidden]="true" data-bs-toggle="modal" data-bs-target="#MultiSelectModal">Open Modal</button>
<!-- Delete MultiSelect Modal -->
<div class="modal fade" id="MultiSelectModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4">

        <h4 class="modal-title mb-1"> <i class="bi bi-exclamation-triangle-fill"></i> Delete test case</h4>
        <p class="mt-2">You are going to delete test case from repository. To perform this action, please type CONFIRM in a form below.</p>

        <div class="mb-3">
          <input type="text" class="form-control" [(ngModel)]="confirmString" (keyup)="confirmation()">
        </div>
        <div class="d-flex align-items-center justify-content-end">
          <span class="cancel-span me-3" data-bs-dismiss="modal">Cancel</span>
          <button type="button" class="btn btn-primary" (click)="multiDelete()" [disabled]="!allowBoolSelected">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
