<div class="app__content">

  <div class="row">
    <div class="col">
      <h2 class="my-3 page-title">ACTIVMENU Repository<span class="ms-2 page-something">8 suites | 47 tests</span>
      </h2>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
      <button class="btn btn-light page-button">
        <i class="bi bi-three-dots"></i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="d-flex col">
      <div class="me-2">
        <button type="button" class="btn btn-primary">+ Suite</button>
      </div>
      <div class="me-2">
        <button type="button" class="btn btn-primary">+ Case</button>
      </div>
      <div class="me-2">
        <input type="text" class="form-control search_input" placeholder="Search for projects">
      </div>
      <div>
        <a type="button" class="btn add-filter-button">+ Add filter</a>
      </div>
    </div>
  </div>


  <div class="row mt-3 h-100">
    <!-- LEFT COLUMN -->
    <div class="col-2">
      <div class="d-flex flex-row justify-content-between mb-2">
        <button type="button" class="button-blue-transparent suite-burger p-0"><i class="bi bi-list me-1"></i>Suites</button>
        <div class="chevron">
          <button type="button" class="btn btn-light me-1"><i class="bi bi-chevron-double-up"></i></button>
          <button type="button" class="btn btn-light"><i class="bi bi-chevron-double-down"></i></button>
        </div>
      </div>

      <app-suite></app-suite>
      <app-suite></app-suite>
      <app-suite></app-suite>
      <app-suite></app-suite>

    </div>

    <!-- RIGHT COLUMN -->
    <div class="col-10 ps-3 r-col">

      <app-case></app-case>
      <app-case></app-case>
      <app-case></app-case>
      <app-case></app-case>
      <app-case></app-case>
      <app-case></app-case>
      <app-case></app-case>
    </div>
  </div>

</div>
