<div class="app__content">
  <div class="row h-100">

    <!-- LEFT COL -->
    <div class="col-10">

      <div class="row my-3">
        <div class="col d-flex align-items-center">
          <h2 class="page-title mb-0"><i class="bi bi-arrow-left me-4" data-bs-toggle="tooltip" title="Go back" routerLink="/projects/run"></i>{{TestRun_Title}}</h2>
        </div>
        <div class="col d-flex justify-content-end align-items-center">
          <ng-template [ngIf]="TestRun_Status == '0'">
            <button class="btn btn-primary me-2">
              <i class="bi bi-play-circle-fill me-2"></i>Open wizard</button>
            <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#completeModal">
              <i class="bi bi-check-lg me-2"></i>Complete</button>
          </ng-template>

          <ng-template [ngIf]="TestRun_Status == '1'">
            <button class="btn btn-primary me-2"><i class="bi bi-play-circle-fill me-2"></i>Run again</button>
          </ng-template>

          <button class="filter-item me-2"><i class="bi bi-share-fill me-2"></i>Share report</button>
          <button class="filter-item me-2"><i class="bi bi-upload me-2"></i>Export</button>
          <button class="filter-item" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></button>
          <div class="dropdown-menu">
            <div class="dropdown-item" routerLink="/projects/run/edit/{{TestRun_ID}}">Edit</div>
            <div class="dropdown-item" data-bs-toggle="modal" data-bs-target="#abortModal">Abort</div>
          </div>
        </div>
      </div>

      <h6 class="mb-1">Description</h6>
      <div class="mb-2">
        <span>{{TestRun_Desc}}</span>
      </div>

      <ul class="nav nav-tabs nav-tabs-bordered">
        <li class="nav-item">
          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#casesTab">Test cases</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#defectsTab">Defects</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#statsTab">Team stats</button>
        </li>
      </ul>

      <div class="tab-content">
        <!-- TEST CASES TAB -->
        <div class="tab-pane show active" id="casesTab">

          <div class="row my-3">
            <div class="d-flex align-items-center">
              <div class="me-3">
                <input type="text" class="form-control search_input" placeholder="Search...">
              </div>

              <div class="d-flex align-items-center">
                <span class="filter-span" data-bs-toggle="dropdown">+ Add filter</span>
                <div class="dropdown-menu">
                  <div class="dropdown-item">Status</div>
                  <div class="dropdown-item">Assigned To</div>
                  <div class="dropdown-item">Author</div>
                  <div class="dropdown-item">Priority</div>
                  <div class="dropdown-item">Automation</div>
                </div>
              </div>
            </div>
          </div>

          <!-- CASES TABLE -->
          <!-- <ng-template> -->

          <div class="row px-3 casesTable">
            <ng-container *ngFor="let item of finalCaseDataSource | keyvalue: originalOrder">
              <ng-container *ngFor="let o of  suites; let i = index">
                <ng-container *ngIf="o.Suite_ID.toString() === item.key.toString()">

                  <div class="d-flex align-items-center text-center" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-'+item.key" aria-expanded="false" aria-controls="collapseExample" (click)="collapseSuite($event)">
                    <div class="run-suite-header-title">{{o.Suite_Name}}
                      <a class="run-suite-header-collapse">
                        <i class="bi bi-chevron-down"></i>
                      </a>
                    </div>
                  </div>

                  <ng-container *ngFor="let snl of SuiteName_List | keyvalue: originalOrder">
                    <ng-container *ngFor="let name of snl.value | keyvalue: originalOrder">
                      <div class="run-suite-crumbs" *ngIf="o.Suite_ID.toString() === name.key.toString()">
                        {{name.value}}
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>

              </ng-container>


              <div [id]="'collapse-'+item.key" class="show">
                <table mat-table [dataSource]="item.value" class="mat-elevation-z0 mb-3" >
                  <ng-container matColumnDef="Checkbox">
                    <th mat-header-cell *matHeaderCellDef>
                      <input type="checkbox">
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <input type="checkbox">
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Result">
                    <th mat-header-cell *matHeaderCellDef>Results</th>
                    <td mat-cell *matCellDef="let element">
                      <div class="">
                        <ng-template [ngIf]="element.Case_Result == '1'">
                          <span class="badge badge-primary passed-bg">Passed</span>
                        </ng-template>
                        <ng-template [ngIf]="element.Case_Result == '2'">
                          <span class="badge badge-primary failed-bg">Failed</span>
                        </ng-template>
                        <ng-template [ngIf]="element.Case_Result == '3'">
                          <span class="badge badge-primary blocked-bg">Blocked</span>
                        </ng-template>
                        <ng-template [ngIf]="element.Case_Result == '4'">
                          <span class="badge badge-primary invalid-bg">Invalid</span>
                        </ng-template>
                        <ng-template [ngIf]="element.Case_Result == '5'">
                          <span class="badge badge-primary skipped-bg">Skipped</span>
                        </ng-template>
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Title">
                    <th mat-header-cell *matHeaderCellDef>Title</th>
                    <td mat-cell *matCellDef="let element">
                      {{element.Case_Title}}</td>
                  </ng-container>
                  <ng-container matColumnDef="Assignee">
                    <th mat-header-cell *matHeaderCellDef>Assignee</th>
                    <td mat-cell *matCellDef="let element">
                      <img class="assignee-img" src="../../assets/img/placeholder.jpg">
                      <span>User</span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="TimeSpent">
                    <th mat-header-cell *matHeaderCellDef>Time spent</th>
                    <td mat-cell *matCellDef="let element">
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="ThreeDots">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                      <div class="d-flex justify-content-end">
                        <button class="btn three-dots" data-bs-toggle="dropdown">
                          <i class="bi bi-three-dots"></i>
                          <div class="dropdown-menu">
                            <div class="dropdown-item">View case</div>
                          </div>
                        </button>
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="caseColumns"></tr>
                  <tr (click)="openCaseRunPanel(row)" mat-row *matRowDef="let row; columns: caseColumns;" class="cases-row"></tr>
                </table>
              </div>
            </ng-container>

          </div>
          <!-- </ng-template> -->
        </div>

        <!-- DEFECTS TAB -->
        <div class="tab-pane" id="defectsTab">

          <div class="row px-3 mt-3">
            <table mat-table [dataSource]="defectDataSource" class="mat-elevation-z0">
              <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element">{{element.Defect_ID}}</td>
              </ng-container>

              <ng-container matColumnDef="Title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let element">
                  <span class="defect-span">{{element.Defect_Title}}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="ReportedBy">
                <th mat-header-cell *matHeaderCellDef>Reported by</th>
                <td mat-cell *matCellDef="let element">
                  <img class="assignee-img" src="../../assets/img/placeholder.jpg">
                  <span>User</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="DefectAssignee">
                <th mat-header-cell *matHeaderCellDef>Assignee</th>
                <td mat-cell *matCellDef="let element">Unassigned</td>
              </ng-container>

              <ng-container matColumnDef="External">
                <th mat-header-cell *matHeaderCellDef>External Issue</th>
                <td mat-cell *matCellDef="let element"></td>
              </ng-container>

              <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                  <ng-template [ngIf]="element.Defect_Status == 1">
                    <span class="badge bg-primary open-bg">Open</span>
                  </ng-template>
                  <ng-template [ngIf]="element.Defect_Status == 2">
                    <span class="badge bg-primary in-progress-bg">In Progress</span>
                  </ng-template>
                  <ng-template [ngIf]="element.Defect_Status == 3">
                    <span class="badge bg-primary invalid-d-bg">Invalid</span>
                  </ng-template>
                  <ng-template [ngIf]="element.Defect_Status == 4">
                    <span class="badge bg-primary resolved-bg">Resolved</span>
                  </ng-template>
                </td>
              </ng-container>

              <ng-container matColumnDef="ThreeDots">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex justify-content-end">
                    <button class="btn three-dots" data-bs-toggle="dropdown">
                      <i class="bi bi-three-dots"></i>
                      <div class="dropdown-menu">
                        <div class="dropdown-item">View</div>
                        <div class="dropdown-item">Assign to me</div>
                        <div class="dropdown-item">Open</div>
                        <div class="dropdown-item">Resolve</div>
                        <div class="dropdown-item">Invalid</div>
                        <div class="dropdown-item">Edit</div>
                        <div class="dropdown-item">Delete</div>
                      </div>
                    </button>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="defectColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: defectColumns;"></tr>
            </table>
          </div>
        </div>

        <!-- TEAM STATS TAB -->
        <div class="tab-pane" id="statsTab">

          <div class="row px-3 mt-3">
            <table mat-table [dataSource]="statDataSource" class="mat-elevation-z0">
              <ng-container matColumnDef="Image">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <img class="stat-img" src="../../assets/img/placeholder.jpg">
                </td>
              </ng-container>

              <ng-container matColumnDef="User">
                <th mat-header-cell *matHeaderCellDef>User</th>
                <td mat-cell *matCellDef="let element">
                  <div class="row d-flex align-items-center my-2">
                    <div class="column-title mb-1">{{element.user}}</div>
                    <div class="column-subtitle">{{element.role}}</div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="StatTimeSpent">
                <th mat-header-cell *matHeaderCellDef>Time Spent</th>
                <td mat-cell *matCellDef="let element">{{element.time}}</td>
              </ng-container>

              <ng-container matColumnDef="Passed">
                <th mat-header-cell *matHeaderCellDef>Passed</th>
                <td mat-cell *matCellDef="let element">{{element.passed}}</td>
              </ng-container>

              <ng-container matColumnDef="Failed">
                <th mat-header-cell *matHeaderCellDef>Failed</th>
                <td mat-cell *matCellDef="let element">{{element.failed}}</td>
              </ng-container>

              <ng-container matColumnDef="Blocked">
                <th mat-header-cell *matHeaderCellDef>Blocked</th>
                <td mat-cell *matCellDef="let element">{{element.blocked}}</td>
              </ng-container>

              <ng-container matColumnDef="Skipped">
                <th mat-header-cell *matHeaderCellDef>Skipped</th>
                <td mat-cell *matCellDef="let element">{{element.skipped}}</td>
              </ng-container>

              <ng-container matColumnDef="Invalid">
                <th mat-header-cell *matHeaderCellDef>Invalid</th>
                <td mat-cell *matCellDef="let element">{{element.invalid}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="statColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: statColumns;"></tr>
            </table>
          </div>
        </div>
      </div>

    </div>

    <!-- RIGHT COL -->
    <div class="col-2 right-col">
      <h5 class="my-3">Test Run Details</h5>

      <div class="mb-3">
        <canvas id="chart" style="max-height: 200px !important;">{{chart}}</canvas>
      </div>

      <h6 class="mb-1">Completion rate</h6>
      <div class="mb-3">
        <span>{{Completed}}%</span>
      </div>

      <h6 class="mb-1">Started by</h6>
      <div class="mb-3 d-flex align-items-center">
        <img class="author-img" src="../../assets/img/placeholder.jpg">
        <span>User</span>
      </div>

      <h6 class="mb-1">Start time</h6>
      <div class="mb-3">
        <span>{{formatDate(TestRun_DateCreated)}}</span>
      </div>

      <ng-template [ngIf]="TestRun_Status == '1'">
        <h6 class="mb-1">Estimated</h6>
        <div class="mb-3">
          <span>00:00:00</span>
        </div>

        <h6 class="mb-1">Time spent</h6>
        <div class="mb-3">
          <span>00:00:00</span>
        </div>
      </ng-template>

    </div>
  </div>
</div>

<!-- Case Panel -->
<div class="CasePanel" #caseResultPanel>
  <div class="row">
    <div class="col-11">
      <div class="mb-1">
        <i class="bi bi-check-square-fill me-2"></i>
        <span class="passed-span">Passed</span>
      </div>
      <div class="mb-1">
        <span class="project-title">Project QAs</span>
      </div>
      <h2 class="page-title mb-2">{{Case_Title}}</h2>
    </div>
    <div class="col d-flex justify-content-end">
      <i class="bi bi-x-lg" (click)="closeCasePanel()"></i>
    </div>
  </div>

  <ul class="nav nav-tabs nav-tabs-bordered-small">
    <li class="nav-item">
      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#executionTab">Execution</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#infoTab">Info</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#historyTab">Run History</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#retriesTab">Retries</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#defectsPanelTab">Defects</button>
    </li>
  </ul>

  <div class="tab-content">

    <!-- EXECUTION TAB -->
    <div class="tab-pane show active" id="executionTab">
      <div class="row mt-3 mb-3">
        <h6 class="small-text-bold mb-1">Suite description</h6>
        <!-- <span class="small-text">{{this.suites[0].Suite_Desc}}</span> -->
      </div>

      <div class="row mb-3">
        <h6 class="small-text-bold mb-1">Description</h6>
        <span class="small-text-italic">{{Case_Desc}}</span>
      </div>

      <div class="row">
        <h6 class="small-text-bold mb-1">Pre-conditions</h6>
        <!-- <span class="small-text">{{this.suites[0].Suite_PreCondition}}</span> -->
      </div>

      <div class="row my-2 text-center">
        <span class="small-text-bold defect-span">Show less</span>
      </div>

      <ng-container>
        <div class="row g-0">
          <div class="col d-flex align-items-center">
            <span class="small-text-bold me-2">Open ActivMenu site - QA</span>
            <i class="bi bi-chevron-down"></i>
          </div>
          <div class="col-auto d-flex align-items-center justify-content-end">
            <i class="bi bi-box me-2" data-bs-toggle="tooltip" title="Input Data"></i>
            <i class="bi bi-list-ul" data-bs-toggle="tooltip" title="Expected Result"></i>
          </div>
        </div>
      </ng-container>

      <ng-container>
        <div class="row g-0">
          <div class="col d-flex align-items-center">
            <span class="small-text-bold me-2">Click create an account</span>
            <i class="bi bi-chevron-down"></i>
          </div>
          <div class="col-auto d-flex align-items-center justify-content-end">
            <i class="bi bi-list-ul" data-bs-toggle="tooltip" title="Expected Result"></i>
          </div>
        </div>
      </ng-container>

    </div>

    <!-- INFO TAB -->
    <div class="tab-pane show" id="infoTab">
      <div class="row mt-3 mb-3">
        <h6 class="small-text-bold mb-1">Test Case</h6>
        <span class="small-text-case">{{Case_Title}}</span>
      </div>

      <div class="row mb-3">
        <h6 class="small-text-bold mb-1">Executed by</h6>
        <span class="small-text">User</span>
      </div>

      <div class="row mb-3">
        <h6 class="small-text-bold mb-1">Started at</h6>
        <div class="d-flex align-items-center">
          <i class="bi bi-calendar4 me-1"></i>
          <span class="small-text">2022-08-14 20:16:19</span>
        </div>
      </div>

      <div class="row mb-3">
        <h6 class="small-text-bold mb-1">Duration</h6>
        <div class="d-flex align-items-center">
          <i class="bi bi-clock me-1"></i>
          <span class="small-text">00:00:10</span>
        </div>
      </div>

      <div class="row mb-3">
        <h6 class="small-text-bold mb-1">Finished at</h6>
        <div class="d-flex align-items-center">
          <i class="bi bi-calendar4 me-1"></i>
          <span class="small-text">2022-08-14 20:16:19</span>
        </div>
      </div>

      <div class="row mb-3">
        <h6 class="small-text-bold mb-1">Result type</h6>
        <div class="d-flex align-items-center">
          <i class="bi bi-person me-1"></i>
          <span class="small-text">Manual</span>
        </div>
      </div>
    </div>

    <!-- RUN HISTORY TAB -->
    <div class="tab-pane show" id="historyTab">
      <ng-container>
        <div class="row p-1 g-0 history-row">
          <div class="col d-flex align-items-center">
            <span class="small-text me-2">R-8</span>
            <span class="small-text-bold">Test run 2022/05/24</span>
          </div>
          <div class="col-auto d-flex align-items-center justify-content-end">
            <span class="small-text me-2">00:00:11</span>
            <span class="badge bg-primary passed-bg small-text">Passed</span>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- RETRIES TAB -->
    <div class="tab-pane show" id="retriesTab">
      <ng-container>
        <div class="row p-1 g-0 history-row">
          <div class="col d-flex align-items-center">
            <span class="small-text me-2">R-8</span>
            <span class="small-text-bold">Test run 2022/05/24</span>
          </div>
          <div class="col-auto d-flex align-items-center justify-content-end">
            <span class="small-text me-2">00:00:11</span>
            <span class="badge bg-primary passed-bg small-text">Passed</span>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- DEFECTS TAB -->
    <div class="tab-pane show" id="defectsPanelTab">
      <div class="mt-1 p-1">
        <span class="project-title">No defects yet.</span>
      </div>
    </div>

  </div><!-- TAB CONTENT -->
</div>

<!-- Case Run Panel -->
<div class="CasePanel" #caseRunPanel>
  <div class="row">
    <div class="col">
      <div class="mb-1">
        <span class="project-title">{{Project_Name}}</span>
      </div>
      <h2 class="page-title mb-2">{{Case_Title}}</h2>
    </div>
    <div class="col-auto d-flex justify-content-end">
      <i class="bi bi-x-lg" (click)="closeCaseRunPanel()"></i>
    </div>
  </div>

  <div class="row my-1">
    <div class="d-flex">
      <!-- <button class="filter-item me-2"><i class="bi bi-eye me-2"></i>View</button> -->
      <button class="filter-item me-2" [routerLink]="'/projects/repository/create/'+Project_ID" [queryParams]="{case:Case_ID}"><i class="bi bi-pencil me-2"></i>Edit Case</button>
    </div>
  </div>

  <ul class="nav nav-tabs nav-tabs-bordered-small">
    <li class="nav-item">
      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#runExecutionTab">Execution</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#runHistoryTab">Run History</button>
    </li>
  </ul>

  <div class="tab-content">

    <!-- EXECUTION TAB -->
    <div class="tab-pane show active" id="runExecutionTab">
      <ng-template [ngIf]="TestRun_Status != '2'">
        <div class="row mt-3 mb-3">
          <div class="d-flex">
            <button class="btn btn-primary passed-btn px-2 py-1 me-2" data-bs-toggle="modal" data-bs-target="#resultModal" (click)="openCaseModal('1')">
              <i class="bi bi-check me-1"></i>
              <span>Passed</span>
            </button>
            <button class="btn btn-primary failed-btn px-2 py-1 me-2" data-bs-toggle="modal" data-bs-target="#resultModal" (click)="openCaseModal('2')">
              <i class="bi bi-x me-1"></i>
              <span>Failed</span>
            </button>
            <button class="btn btn-primary blocked-btn px-2 py-1 me-2" data-bs-toggle="modal" data-bs-target="#resultModal" (click)="openCaseModal('3')">
              <i class="bi bi-x-circle me-1"></i>
              <span>Blocked</span>
            </button>
            <button class="btn btn-primary invalid-btn px-2 py-1 me-2" data-bs-toggle="modal" data-bs-target="#resultModal" (click)="openCaseModal('4')">
              <i class="bi bi-heartbreak me-1"></i>
              <span>Invalid</span>
            </button>
            <button class="btn btn-primary skipped-btn px-2 py-1" data-bs-toggle="modal" data-bs-target="#resultModal" (click)="openCaseModal('5')">
              <i class="bi bi-arrow-bar-right me-1"></i>
              <span>Skipped</span>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <h6 class="small-text-bold mb-1">Description:</h6>
          <span class="small-text-italic">{{Case_Desc}}</span>
        </div>

        <ng-template [ngIf]="Case_Comment != ''">
          <div class="row mb-3">
            <h6 class="small-text-bold mb-1">Comment:</h6>
            <span class="small-text">{{Case_Comment}}</span>
          </div>
        </ng-template>

        <div class="row">
          <div class="col-auto mt-3">
            <span class="step-number">1</span>
          </div>
          <div class="col mt-3">
            <div class="mb-3">
              <span class="small-text">1. Login to your account</span>
            </div>

            <div class="mb-3">
              <h6 class="small-text-bold mb-0">Expected result:</h6>
              <span class="small-text">Account must be login</span>
            </div>

            <div class="d-flex mb-3">
              <button class="btn btn-outline-primary px-2 py-1 me-2">Passed</button>
              <button class="btn btn-outline-primary px-2 py-1 me-2">Failed</button>
              <button class="btn btn-outline-primary px-2 py-1 me-2">Blocked</button>
              <button class="btn btn-outline-primary px-2 py-1 me-2">Invalid</button>
              <button class="btn btn-outline-primary px-2 py-1 me-2">Skipped</button>
            </div>

            <div class="mb-3">
              <textarea class="form-control"></textarea>
            </div>

            <span class="add-attach-span small-text"><i class="bi bi-plus-circle-fill me-2"></i>Add attachment</span>

          </div>
        </div>

      </ng-template>
    </div>

    <!-- RUN HISTORY TAB -->
    <div class="tab-pane show" id="runHistoryTab">
      <ng-container>
        <div class="row p-1 g-0 history-row">
          <div class="col d-flex align-items-center">
            <span class="small-text me-2">R-8</span>
            <span class="small-text-bold">Test run 2022/05/24</span>
          </div>
          <div class="col-auto d-flex align-items-center justify-content-end">
            <span class="small-text me-2">00:00:11</span>
            <span class="badge bg-primary passed-bg small-text">Passed</span>
          </div>
        </div>
      </ng-container>
    </div>

  </div><!-- TAB CONTENT -->
</div>

<!-- Complete Modal -->
<div class="modal fade" id="completeModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4">

        <h5 class="modal-title mb-3">Complete run</h5>
        <p class="mb-4">Do you want to complete this run?</p>

        <div class="d-flex align-items-center justify-content-end">
          <span class="cancel-span me-2" data-bs-dismiss="modal">Cancel</span>
          <button type="button" class="btn btn-primary" (click)="changeRunStatus('1')">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Abort Modal -->
<div class="modal fade" id="abortModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4">

        <h5 class="modal-title mb-3">Abort run</h5>
        <p class="mb-4">Do you want to abort this run?</p>

        <div class="d-flex align-items-center justify-content-end">
          <span class="cancel-span me-2" data-bs-dismiss="modal">Cancel</span>
          <button type="button" class="btn btn-primary" (click)="changeRunStatus('2')">Abort</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Result Modal -->
<div class="modal" id="resultModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4">

        <h5 class="modal-title mb-3">Add result</h5>
        <p class="mb-2">You can add a comment and attach artifacts to the result.</p>

        <div class="row mb-2">
          <div class="col-6">
            <label class="page-label">Result</label>
            <mat-select class="select-item" [(ngModel)]="Case_Result">
              <mat-option class="select-item" value="1">Passed</mat-option>
              <mat-option class="select-item" value="2">Failed</mat-option>
              <mat-option class="select-item" value="3">Blocked</mat-option>
              <mat-option class="select-item" value="4">Invalid</mat-option>
              <mat-option class="select-item" value="5">Skipped</mat-option>
            </mat-select>
          </div>
          <div class="col-6">
            <label class="page-label">Time spent</label>
            <input type="text" class="form-control" value="00:00:00">
          </div>
        </div>

        <div class="mb-3">
          <label class="page-label">Comment</label>
          <textarea class="form-control" placeholder="Add some additional information here" [(ngModel)]="Case_Comment"></textarea>
        </div>

        <div class="mb-4">
          <span class="add-attach-span"><i class="bi bi-plus-circle-fill me-2"></i>Add attachment</span>
        </div>

        <div class="d-flex align-items-center justify-content-end">
          <span class="cancel-span me-2" data-bs-dismiss="modal">Cancel</span>
          <button type="button" class="btn btn-primary" (click)="changeCaseResult()">Add result</button>
        </div>
      </div>
    </div>
  </div>
</div>
