<div class="container-sfluid app__content">
    <div class="row">
        <div class="col-lg-12">
            <div class="view-plan-header">
                <div class="view-plan-header-title">
                
                    <h2 class="page-title my-3">
                        <a routerLink="/projects/plan">
                            <i class="submenu-toggle bi bi-arrow-left"></i>
                        </a>
                        {{TestPlan_Title}}
                    </h2>
                </div>
    
                <div class="view-plan-header-buttons mt-3">
                    <div class="start-run">
                        <button type="button" class="btn btn-primary" routerLink="/projects/run">
                            Start run
                        </button>
                    </div>
                    
                    
                    <div class="dropdown">
                        <button class="btn btn-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- <div class="dropdown-item">
                                <a routerLink="/projects/plan/editplan/{{i}}">Edit</a>
                            </div> -->
                            <div class="dropdown-item">
                                <a routerLink="/projects/plan/editplan/">Edit</a>
                            </div>
                            <div class="dropdown-item">
                                <a href="#">Export XLS</a>
                            </div>
                            <!-- <div class="dropdown-item" (click)="openDeleteModal(element.TestPlan_ID, element.TestPlan_Title)">
                                <a class="text-danger">Delete</a>
                            </div> -->
                            <div class="dropdown-item">
                                <a class="text-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Nav Tabs -->
            <div class="col-xl">
                <div class="card">
                    <div class="card-body pt-3">
                        <ul class="nav nav-tabs nav-tabs-bordered" id="myTabs">
                            <li class="nav-item">
                                <button class="nav-link active" id="tabBtn1" data-bs-toggle="tab" data-bs-target="#tab1">Details</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" id="tabBtn2" data-bs-toggle="tab" data-bs-target="#tab2">Test Cases</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" id="tabBtn3" data-bs-toggle="tab" data-bs-target="#tab3">Test Runs</button>
                            </li>
                        </ul>

                        <!-- Tab Content -->

                        <!-- Details -->

                        <div class="tab-content pt-2">
                            <div id="tab1" class="tab-pane show active">
                                <div class="plan-view-details">
                                    <div class="plan-view-details-item">
                                        <p class="view-plan-details-item-header">Description</p>
                                        <div class="markdown-area">
                                            <div>
                                                <div style="overflow-wrap: break-word;">
                                                    <p>{{TestPlan_Desc}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Test Cases -->
                            <div id="tab2" class="tab-pane">
                                <div class="filters-block">
                                    <div class="filters-block-items">
                                        <div class="case-search-input me-2">
                                            <input type="text" name="title" class="form-control form-control-sm" placeholder="Search for test cases" value="">
                                        </div>
                                    </div>
                                    <div class="add-filter-outer">
                                        <button class="add-filter-button">+ Add filter</button>
                                    </div>
                                </div>

                                <div class="cases-content mt-2">
                                    <div class="cases-header-title">
                                        Cases
                                    </div>
                                    <div class="row">
                                        <table mat-table [dataSource]="casesDataSource" class="mat-elevation-z0">
                                            <ng-container matColumnDef="Title">
                                              <th mat-header-cell *matHeaderCellDef>Title</th>
                                              <td mat-cell *matCellDef="let element" (click)="openCasePanel()">{{element.Case_Title}}</td>
                                            </ng-container>
                              
                                            <ng-container matColumnDef="Assignee">
                                              <th mat-header-cell *matHeaderCellDef>Assignee</th>
                                              <td mat-cell *matCellDef="let element" (click)="openCasePanel()">
                                                <span>Unassigned</span>
                                              </td>
                                            </ng-container>
                              
                                            <ng-container matColumnDef="Expected_Duration">
                                              <th mat-header-cell *matHeaderCellDef>Expected Duration</th>
                                              <td mat-cell *matCellDef="let element" (click)="openCasePanel()">0:00:00</td>
                                            </ng-container>
                            
                                            <tr mat-header-row *matHeaderRowDef="casesColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: casesColumns;" class="cases-row"></tr>
                                          </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Test Runs -->
                            <div id="tab3" class="tab-pane profile-overview">
                                <div class="filters-block">
                                    <div class="filters-block-items">
                                        <div class="case-search-input me-2">
                                            <input type="text" name="title" class="form-control form-control-sm" placeholder="Search for test runs" value="">
                                        </div>
                                    </div>
                                    <div class="add-filter-outer">
                                        <button class="add-filter-button">+ Add filter</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body p-4">
                
                        <h5 class="modal-title mb-3">Delete Test Plan</h5>
                        <p class="mb-4">Are you sure, that you want to delete test plan "{{TestPlan_Title}}"?</p>
                
                        <div class="d-flex align-items-center justify-content-end">
                            <span class="cancel-span me-2" data-bs-dismiss="modal">Cancel</span>
                            <button type="button" class="btn btn-primary" (click)="deleteTestPlan()">Delete</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Case Panel -->
<div class="CasePanel" #casePanel>
    <div class="row">
        <div class="col-11">
            <div class="mb-1">
                <span class="project-title">Testplan Sample</span>
            </div>
            <h2 class="page-title mb-2">Access Shopping List Module</h2>
        </div>
        <div class="col d-flex justify-content-end">
            <i class="bi bi-x-lg" (click)="closeCasePanel()"></i>
        </div>
    </div>

    <ul class="nav nav-tabs nav-tabs-bordered-small">
        <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#generalTab">General</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#propertiesTab">Properties</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#runsTab">Runs</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#historyTab">History</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#defectsPanelTab">Defects</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#commentTab">Comments</button>
        </li>
    </ul>

    <div class="tab-content">

    <!-- General Tab -->
    <div class="tab-pane show active" id="generalTab">
        <!-- <div class="row mt-3 mb-3">
            <h6 class="small-text-bold mb-1">Suite description</h6>
            <span class="small-text">Login user</span>
        </div>

        <div class="row mb-3">
            <h6 class="small-text-bold mb-1">Description</h6>
            <h6 class="small-text-bold mb-1">Expected:</h6>
            <span class="small-text-italic">User should be able to login in the application without any errors.</span>
        </div>

        <div class="row">
            <h6 class="small-text-bold mb-1">Pre-conditions</h6>
            <span class="small-text">Must have internet connection</span>
        </div>

        <div class="row my-2 text-center">
            <span class="small-text-bold defect-span">Show less</span>
        </div>

        <ng-container>
        <div class="row g-0">
            <div class="col d-flex align-items-center">
                <span class="small-text-bold me-2">Open ActivMenu site - QA</span>
                <i class="bi bi-chevron-down"></i>
            </div>
            <div class="col-auto d-flex align-items-center justify-content-end">
                <i class="bi bi-box me-2" data-bs-toggle="tooltip" title="Input Data"></i>
                <i class="bi bi-list-ul" data-bs-toggle="tooltip" title="Expected Result"></i>
            </div>
        </div>
        </ng-container>

        <ng-container>
        <div class="row g-0">
            <div class="col d-flex align-items-center">
                <span class="small-text-bold me-2">Click create an account</span>
                <i class="bi bi-chevron-down"></i>
            </div>
            <div class="col-auto d-flex align-items-center justify-content-end">
                <i class="bi bi-list-ul" data-bs-toggle="tooltip" title="Expected Result"></i>
            </div>
        </div>
        </ng-container> -->

    </div>

    <!-- Properties Tab -->
    <div class="tab-pane show" id="propertiesTab">
        <!-- <div class="row mt-3 mb-3">
            <h6 class="small-text-bold mb-1">Test Case</h6>
            <span class="small-text-case">CASE NAME</span>
        </div>

        <div class="row mb-3">
            <h6 class="small-text-bold mb-1">Executed by</h6>
            <span class="small-text">User</span>
        </div>

        <div class="row mb-3">
            <h6 class="small-text-bold mb-1">Started at</h6>
            <div class="d-flex align-items-center">
                <i class="bi bi-calendar4 me-1"></i>
                <span class="small-text">2022-08-14 20:16:19</span>
            </div>
        </div>

        <div class="row mb-3">
            <h6 class="small-text-bold mb-1">Duration</h6>
            <div class="d-flex align-items-center">
                <i class="bi bi-clock me-1"></i>
                <span class="small-text">00:00:10</span>
            </div>
        </div>

        <div class="row mb-3">
            <h6 class="small-text-bold mb-1">Finished at</h6>
            <div class="d-flex align-items-center">
                <i class="bi bi-calendar4 me-1"></i>
                <span class="small-text">2022-08-14 20:16:19</span>
            </div>
        </div>

        <div class="row mb-3">
            <h6 class="small-text-bold mb-1">Result type</h6>
            <div class="d-flex align-items-center">
                <i class="bi bi-person me-1"></i>
                <span class="small-text">Manual</span>
            </div>
        </div> -->
    </div>

    <!-- Runs Tab -->
    <div class="tab-pane show" id="runsTab">
        <!-- <ng-container>
        <div class="row p-1 g-0 history-row">
            <div class="col d-flex align-items-center">
                <span class="small-text me-2">R-8</span>
                <span class="small-text-bold">Test run 2022/05/24</span>
            </div>
            <div class="col-auto d-flex align-items-center justify-content-end">
                <span class="small-text me-2">00:00:11</span>
                <span class="badge bg-primary passed-bg small-text">Passed</span>
            </div>
        </div>
        </ng-container> -->
    </div>

    <!-- History Tab -->
    <div class="tab-pane show" id="historyTab">
        <!-- <ng-container>
        <div class="row p-1 g-0 history-row">
            <div class="col d-flex align-items-center">
                <span class="small-text me-2">R-8</span>
                <span class="small-text-bold">Test run 2022/05/24</span>
            </div>
            <div class="col-auto d-flex align-items-center justify-content-end">
                <span class="small-text me-2">00:00:11</span>
                <span class="badge bg-primary passed-bg small-text">Passed</span>
            </div>
        </div>
        </ng-container> -->
    </div>

    <!-- Defects Tab -->
    <div class="tab-pane show" id="defectsPanelTab">
        <div class="mt-1 p-1">
            <span class="project-title">No defects yet.</span>
        </div>
    </div>

    <!-- Comments Tab -->
    <div class="tab-pane show" id="commentsTab">
        <div class="mt-1 p-1">
            <span class="project-title">No defects yet.</span>
        </div>
    </div>

    </div><!-- TAB CONTENT -->
</div>
