@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i");

:host() {
    flex: 1;
    overflow: auto;
    position: relative;
}

.app__content {
    padding: 1rem 1.5rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    overflow: auto;
    height: 100%;
}

/* Labels */
.page-title {
    font-size: 24px;
    font-weight: 600;
}

.page-label {
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: .25rem;
}

.label-line {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.25rem 0;
    border-bottom: 1px solid lightgray;
}

.cancel-span {
    font-weight: 600;
    color: var(--bs-red-100);
    padding: 0rem 0.75rem;
}

.add-attach-span {
    font-weight: 600;
}

.cancel-span:hover,
.add-attach-span:hover {
    color: #eb7374;
}

/* Icons */
.bi-plus-circle-fill {
    color: var(--bs-red-100);
}

/* Misc */
.tooltip-i,
.cancel-span,
.add-attach-span,
.bi-arrow-left {
    cursor: pointer;
}

.btn-primary {
    white-space: nowrap;
}

/* Dropdown */
.select-item {
    background-color: var(--black-5);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: .25rem;
}