<div class="app__content">
  <div class="row">
    <div class="col-lg-12">

      <h2 class="page-title my-3"><i class="bi bi-arrow-left me-4" data-bs-toggle="tooltip" title="Go back"
          routerLink="/projects/run"></i>{{Page_title}}</h2>

      <div class="mb-3">
        <Label class="page-label">Run title*</Label>
        <input type="text" class="form-control" [(ngModel)]="TestRun_Title">
      </div>

      <div class="mb-3">
        <Label class="page-label">Description</Label>
        <input type="text" class="form-control" placeholder="For example: Full Regression" [(ngModel)]="TestRun_Desc">
      </div>

      <div class="mb-3">
        <div class="row">
          <ng-template [ngIf]="Page_title == 'Start test run'">
            <div class="col-4">
              <Label class="page-label">Plan</Label>
              <mat-select class="select-item" placeholder="Select..." [(ngModel)]="TestPlan_ID">
                <mat-option class="select-item" *ngFor="let testplan of testplans" [value]="testplan.TestPlan_ID">
                  <span>{{testplan.TestPlan_Title}} </span>
                  <span style="color: #aaa;">{{testplan.TestPlan_CaseCount}} test cases</span>
                </mat-option>
              </mat-select>
            </div>
          </ng-template>
          <div class="col-4">
            <Label class="page-label">Environment</Label>
            <mat-select class="select-item" [(ngModel)]="TestRun_Environment">
              <mat-option class="select-item" value="1">Not set</mat-option>
            </mat-select>
          </div>
          <div class="col-4">
            <Label class="page-label">Milestone</Label>
            <mat-select class="select-item" [(ngModel)]="TestRun_Milestone">
              <mat-option class="select-item" value="0">Not set</mat-option>
              <mat-option class="select-item" *ngFor="let milestone of milestones"
                [value]="milestone.Milestone_ID.toString()">
                {{milestone.Milestone_Title}}</mat-option>
            </mat-select>
          </div>
        </div>
      </div>

      <ng-template [ngIf]="Page_title == 'Start test run'">
        <div class="mb-3">
          <div class="row">
            <div class="col-4">
              <Label class="page-label">Default assignee <i class="bi bi-question-circle-fill tooltip-i"
                  data-bs-toggle="tooltip"
                  title="All unassigned test cases will be assigned to selected user. Leave unassigned and any user will be able to take case during run."></i></Label>
              <mat-select class="select-item" placeholder="Select..." [(ngModel)]="User_ID">
                <mat-option class="select-item" value="0">No options</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </ng-template>

      <div class="row m-0 mb-4">
        <span class="label-line ps-0">Tags</span>
      </div>

      <div class="row mb-3">
        <div class="col-4">
          <mat-select class="select-item" placeholder="Select..." [(ngModel)]="TestRun_Tags">
            <mat-option class="select-item" value="0">No options</mat-option>
          </mat-select>
        </div>
      </div>

      <div class="row m-0 mb-4">
        <span class="label-line ps-0">Test cases</span>
      </div>

      <div class="mb-4">
        <span>0 test cases selected</span>
      </div>

      <div class="mb-3" data-bs-toggle="modal" data-bs-target="#addcases">
        <span class="add-attach-span"><i class="bi bi-plus-circle-fill me-2"></i>Add cases</span>
      </div>

      <div class="row m-0 mb-3">
        <span class="label-line ps-0"></span>
      </div>

      <div class="row mb-5">
        <div class="d-flex align-items-center">
          <button class="btn btn-primary me-3" (click)="updateInsertTestRun()">{{Button_title}}</button>
          <span class="cancel-span" routerLink="/projects/run">Cancel</span>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Add cases modal -->
<div class="modal" id="addcases" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header d-block">
        <div class="row mb-2">
          <div class="col d-flex align-items-center">
            <h5 class="modal-title">Select test cases</h5>
          </div>
          <div class="col d-flex align-items-center justify-content-end">
            <span class="me-2">0 test cases selected</span>
            <i class="bi bi-x-lg"></i>
          </div>
        </div>

        <div class="d-flex align-items-center">
          <input type="text" class="form-control search_input me-2" placeholder="Search for cases">
          <span class="filter-span" data-bs-toggle="dropdown">+ Add filter</span>
          <div class="dropdown-menu">
            <div class="dropdown-item">Priority</div>
            <div class="dropdown-item">Severity</div>
            <div class="dropdown-item">Type</div>
            <div class="dropdown-item">Behavior</div>
            <div class="dropdown-item">Status</div>
            <div class="dropdown-item">Automation</div>
            <div class="dropdown-item">Layer</div>
            <div class="dropdown-item">Is flaky</div>
            <div class="dropdown-item">Milestones</div>
            <div class="dropdown-item">Tags</div>
            <div class="dropdown-item">Steps</div>
            <div class="dropdown-item">Author</div>
            <div class="dropdown-item">Last Run Date</div>
            <div class="dropdown-item">Creation Date</div>
            <div class="dropdown-item">Last Update Date</div>
            <div class="dropdown-item">External Issue</div>
          </div>
        </div>
      </div>

      <div class="modal-body">
        <div class="row gx-0">
          <!-- LEFT COL -->
          <div class="col-2 modal-col">

            <ng-container *ngFor="let suite of suites;">
              <ng-container *ngIf="suite.Project_ID == LinkParamID">
                <ng-container *ngIf="suite.Parent_SuiteID == 0">
                  <app-suites-plan [Suite]="suite" (sendSuiteID)="receiveID($event)"
                    (sendSuiteName)="receiveName($event)" (sendSuiteDesc)="receiveDesc($event)"></app-suites-plan>
                  <div class="ms-3">
                    <ng-container *ngTemplateOutlet="tree; context:{$implicit: suite}"></ng-container>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>

            <ng-template #tree let-data>
              <ng-container *ngFor="let suite of suites">
                <ng-container *ngIf="data.Suite_ID == suite.Parent_SuiteID">
                  <app-suites-plan [Suite]="suite" (sendSuiteID)="receiveID($event)" (sendSuiteName)="receiveName($event)"
                    (sendSuiteDesc)="receiveDesc($event)"></app-suites-plan>
                  <div class="ms-3">
                    <ng-container *ngTemplateOutlet="tree; context: {$implicit: suite}"></ng-container>
                  </div>
                </ng-container>
              </ng-container>
            </ng-template>

          </div>
          <!-- RIGHT COL -->
          <div class="col-10 modal-col px-3">
            <ng-template [ngIf]="Suite_Name != ''">
              <div class="row mb-2">
                <div class="col d-flex align-items-center">
                  <h2 class="page-title m-0">{{Suite_Name}}</h2>
                </div>
                <div class="col d-flex align-items-center justify-content-end">
                  <button class="filter-item me-2">Select all</button>
                  <button class="filter-item me-2">Unselect all</button>
                  <button class="filter-item">Assign selected</button>
                </div>
              </div>

              <div class="mb-2">
                <span>{{Suite_Desc}}</span>
              </div>

              <div>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 w-100">
                  <ng-container matColumnDef="Checkbox">
                    <td mat-cell *matCellDef="let element">
                      <mat-checkbox (change)="selectCase($event, element.Case_ID)"></mat-checkbox>
                    </td>
                  </ng-container>
        
                  <ng-container matColumnDef="Title">
                    <td mat-cell *matCellDef="let element">
                      <div class="column-title">{{element.Case_Title}}</div>
                      <div class="column-subtitle">{{element.Case_ID}}</div>
                    </td>
                  </ng-container>
        
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <span class="cancel-span me-2" data-bs-dismiss="modal" (click)="closeAddCases()">Cancel</span>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="getSelectedCase()">Done</button>
      </div>

    </div>
  </div>
</div>