@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
  --shadow-color: rgb(0 0 0 / 25%);
  --shadow-color-primary: rgba(0, 0, 0, 0.25);
  --shadow-color-secondary: rgba(0, 0, 0, 0.31);
  --popup-border: 1px solid transparent;
  --popup-shadow: 0px 4px 8px var(--shadow-color-primary), 0px 0px 1px var(--shadow-color-secondary);

  --bs-blue-prime: #286efa;
  --bs-blue-second: #609de6;

  --bs-green-prime: #198754;

  --bs-red-100: #e52325;
  --bs-red-75: rgba(229, 36, 39, 0.25);
  --bs-red-50: rgba(229, 35, 38, 0.25);
  --bs-red-25: rgba(229, 35, 38, 0.25);
  --bs-red-10: rgba(229, 35, 38, 0.25);
  --bs-red-5: rgba(229, 35, 38, 0.25);

  --delimiter-color: rgb(240, 240, 240);
  --delimiter-color-secondary: rgb(229, 229, 229);
  --tabs-border: 2px solid var(--delimiter-color);

  --bg-color: #fff;
  --bg-color-secondary: rgb(52, 52, 52);
  --bg-color-header: #fff;
  --bg-color-header-secondary: rgb(33, 31, 31);
  --bg-color-submenu: rgb(244, 245, 247);
  --bg-color-secondary-emphasized: rgb(61, 61, 61);
  --bg-dropdown: #272727;

  --black-100: rgba(37, 32, 32, 1);
  --black-75: rgba(37, 32, 32, 0.75);
  --black-50: rgba(37, 32, 32, 0.5);
  --black-25: rgba(37, 32, 32, 0.25);
  --black-10: rgba(37, 32, 32, 0.10);
  --black-5: rgba(37, 32, 32, 0.05);

  --fs-default: 0.775rem;
  --fs-default-second: 0.875rem;

  --c-text: #7a7a83;
  --c-text-primary: #ffffffde;
  --c-text-secondary: rgba(19, 38, 71, 0.5);
  --c-text-table-head: #ababab;
  --app-header-height: 2.5rem;


  --button-icon-secondary-color: rgba(255, 255, 255, 0.5);
  --button-icon-secondary-color-hover: rgba(255, 255, 255, 0.7);
  --button-secondary-bg: var(--bg-color-secondary);
  --button-secondary-bg-hover: var(--bg-color-secondary-emphasized);

  --c-sidebar-tag: #ff4742;

  --checkbox-border-color: rgba(0, 0, 0, 0.54);
  --bg-form-control: #211f1f;
}

.light-theme {
  --bg-color: #fff;
  --bg-color-secondary: rgb(244, 245, 247);
  --bg-color-header: #fff;
  --bg-color-submenu: rgb(244, 245, 247);
  --bg-color-secondary-emphasized: rgb(231, 231, 231);
  --bg-dropdown: #fff;

  --c-text-table-head: #382F2F;
  --c-text-primary: #382F2F;
  --c-text-secondary: rgba(19, 38, 71, 0.5);
  --c-text: #382F2F;

  --delimiter-color: rgb(240, 240, 240);
  --delimiter-color-secondary: rgb(229, 229, 229);
  --tabs-border: 2px solid var(--delimiter-color);

  --bs-border-color: #dee2e6;
  --bs-border-color: var(--delimiter-color);
  --checkbox-border-color: rgba(0, 0, 0, 0.54);
  --bg-form-control: #fcfcfc;
  --bg-form-control-focus: #fcfcfc;

  --button-icon-secondary-color: rgba(50, 66, 95, 0.5);
  --button-icon-secondary-color-hover: rgb(50, 66, 95);

  --button-secondary-bg: var(--bg-color-secondary);
  --button-secondary-bg-hover: var(--bg-color-secondary-emphasized);
}

.dark-theme {
  --bg-color: #2d2d2d;
  --bg-color-secondary: rgb(52, 52, 52);
  --bg-color-header: rgb(33, 31, 31);
  --bg-color-submenu: rgb(39, 39, 39);
  --bg-color-secondary-emphasized: rgb(61, 61, 61);
  --bg-dropdown: #272727;

  --c-text: rgba(255, 255, 255, 0.75);
  --c-text-primary: #ffffffde;
  --c-text-secondary: rgb(163, 163, 163);
  --c-text-table-head: #7a7a83;

  --delimiter-color: #464646;
  --delimiter-color-secondary: #3d3d3d;
  --tabs-border: 2px solid var(--delimiter-color);
  --bs-border-color: var(--delimiter-color);

  --checkbox-border-color: rgba(147, 155, 171, 0.5);
  --bg-form-control: #211f1f;
  --bg-form-control-focus: #111010;

  --button-icon-secondary-color: rgba(255, 255, 255, 0.5);
  --button-icon-secondary-color-hover: rgba(255, 255, 255, 0.7);
  --button-secondary-bg: var(--bg-color-secondary);
  --button-secondary-bg-hover: var(--bg-color-secondary-emphasized);
}

.drag {
  cursor: col-resize;
}

.mat-table {
  background-color: transparent;
  color: var(--bg-color);
}

mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-color: var(--delimiter-color);
}

.mat-header-cell {
  color: var(--c-text-table-head);
}

.mat-checkbox-frame {
  border-color: var(--checkbox-border-color);
  border-width: 5px;
}

.mat-select-panel {
  background: var(--button-secondary-bg);
}

.mat-select-value {
  color: var(--c-text);
}

.mat-select-arrow {
  color: var(--c-text);
}

/* You can add global styles to this file, and also import other style files */
/* This is only Initial Css */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Remove default margin*/
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Segoe UI", Arial, sans-serif;
  color: var(--c-text);
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a,
a:hover,
a:focus,
a:active {
  color: var(--c-text-primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: var(--c-text-primary);

}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



.Content {
  height: 100%;
  max-height: calc(100vh - var(--app-header-height));
  /* max-height: calc(100vh - var(--app-header-height)); */
}

/* This is only Initial Css END*/

/* Split pane */
.as-split-gutter {
  background-color: var(--delimiter-color) !important;
  width: 10px !important;
}

.as-split-gutter:hover {
  background-color: var(--bs-red-50) !important;
}

.as-split-gutter-icon {
  background-image: unset !important;
}

/* Split End pane */

/* App Body */
.layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: fit-content;
  min-height: 100vh;
}

/* App Body */


/* Forms  */
.required:after {
  color: #d0021b;
  content: "*";
  margin-left: 0.125rem;
}

.cancel-span {
  cursor: pointer;
}

.invalid-f p {
  color: var(--bs-red-100);
}

.form-control {
  background-color: var(--bg-form-control);
  border: 1px solid var(--delimiter-color);
  border-radius: .25rem;
}

.form-control:hover {
  background-color: var(--bg-form-control-focus);
}

.form-control:focus {
  background-color: var(--bg-form-control-focus);
  box-shadow: 0 0 0 0.25rem var(--bs-red-5);
  border-color: var(--bs-red-100);
}

.form-label {
  font-size: .75rem;
  line-height: 1rem;
  color: #383b40;
  margin-bottom: .25rem;
  font-weight: 600;
}

.btn-primary {


  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: .25rem;
  padding: .4rem .75rem;
  color: #fff;
  background: var(--bs-red-100);
  line-height: 1.15;
  font-size: .875rem;
  word-spacing: 0px;
  letter-spacing: .0892857143em;
  text-decoration: none;
  min-width: 64px;
  border: none;
  text-align: center;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);


}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  background: var(--bs-red-100);
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.btn-primary:active,
.btn:active:focus,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn:disabled {
  background: var(--bs-red-100);

}


.btn-secondary {
  color: black;
  font-size: .875rem;
  border-radius: .25rem;
  padding: .2rem .75rem;
  background-color: var(--black-5) !important;
  border-color: var(--black-5) !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open>.dropdown-toggle.btn-secondary {
  background-color: var(--black-5) !important;
  border-color: var(--black-5) !important;
  box-shadow: none;
  color: black;
}

.btn-secondary:active,
.btn-secondary.active,
.open>.dropdown-toggle.btn-secondary {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-transparent {
  color: #46484a;
  font-size: .875rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
}


.btn-light {


  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: .25rem;
  padding: .4rem .75rem;
  color: #fff;
  background: var(--black-25);
  line-height: 1.15;
  font-size: .875rem;
  word-spacing: 0px;
  letter-spacing: .0892857143em;
  text-decoration: none;
  min-width: 64px;
  border: none;
  text-align: center;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);


}

.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active,
.open>.dropdown-toggle.btn-light {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.btn-light:active,
.btn:active:focus,
.btn-light.active,
.open>.dropdown-toggle.btn-light {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}


.clearedInput {
  outline: none;
  border: none;
  padding: 0.5rem;
  font-size: .775;
  color: var(--c-text);
  background-color: transparent;
}

/* Dropdown Style */


.filter-row>* {
  width: 100%;
  max-width: 100%;
  flex-shrink: 0;
}

.filters-block {
  display: flex;
  align-items: center;
}

.filters-block>* {
  font-size: .875rem;
}

.search_input {
  width: 200px;
  height: 30px;
}

.filter-item {
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  color: #393939;
  font-weight: 500;
  background: transparent;
  border: none;
  white-space: nowrap;
  background: #f3f3f3;
  padding: .4375rem .75rem;
  border-radius: .25rem;
  cursor: pointer;
  line-height: 1.125rem;
}

.filter-outer {
  position: relative;
}

.filter-dropdown {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #e3e1e1;
  box-shadow: 0 0 12px rgb(217 217 217 / 50%);
  z-index: 999;
  background: #fff;
  min-width: 180px;
}


/* DropDown */

.dropdown-menu {
  background: var(--bg-dropdown);
  box-shadow: var(--popup-shadow);
  border: var(--popup-border);
  border-radius: 6px;
  z-index: 1;
  margin: 0.25rem 0;
  color: var(--c-text);
  overflow: auto;
}

li a {
  display: block
}

li>.dropdown-Tag,
li>.dropdown-Tag:hover,
li>.dropdown-Tag:active,
li>.dropdown-Tag:focus {
  padding: 0.375rem 0.5rem;
  color: var(--c-text);
  text-decoration: none;
  font-size: var(--fs-default);
  vertical-align: top;
  margin-left: 0.125rem;
  font-weight: 500;
}


li:hover>.dropdown-Tag,
li:active>.dropdown-Tag {
  color: var(--bs-blue-prime);
}

.divider {
  border-bottom: 1px solid var(--delimiter-color);
}

/* Dropdown end */

.avatar-sm {
  border-radius: 5px;
  height: 2rem;
  width: 2rem;
}

.hide {
  display: none !important;
}

.add-filter-button {
  white-space: nowrap;
  font-size: .875rem;
  background-color: transparent !important;
  border: none !important;
  color: var(--bs-blue-prime);
}

.add-filter-button:focus {
  box-shadow: none;
}

.add-filter-button:hover {
  color: var(--bs-blue-second);
}

/* Table */

.column-title {
  font-weight: 500;
  margin-bottom: 0;
  line-height: 1rem;
}

.column-subtitle {
  margin-top: 0;
  font-weight: 400;
  font-size: .75rem;
  line-height: 1rem;
  color: #959595;
}

.setting-icon {
  color: var(--bs-blue-prime);
  cursor: pointer;
}

.setting-icon:hover {
  color: var(--bs-blue-second);
}

.button-blue-transparent {
  white-space: nowrap;
  font-size: .875rem;
  color: var(--c-text);
  background-color: transparent !important;
  border: none !important;

  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s, 0s;
}

.button-blue-transparent:hover {
  color: var(--bs-blue-second);
}

.button-gray-transparent {
  white-space: nowrap;
  font-size: .875rem;
  background-color: transparent !important;
  color: var(--black-50);
  border: none !important;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s, 0s;
}

.button-gray-transparent:hover {
  color: var(--c-text);
}


.linkTag.active {
  color: var(--bs-blue-prime);
}

.linkTag:hover {
  color: var(--bs-blue-second);
}

.attachments {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}


.attachments .attachment {
  text-align: center;
  width: 10rem;
  display: block;
  margin-bottom: 1rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.attachments .attachment-image {
  width: 10rem;
  height: 6.75rem;
  border-radius: 0.25rem;
  background-size: cover !important;
  transition: box-shadow .2s ease;
  border: 1px solid #e0e2e6;
  padding: 0.75rem;
}

.attachments .attachment-file {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 6.75rem;
  background: #e9e9e9;
  border-radius: 0.25rem;
  transition: box-shadow .2s ease;
  border: 1px solid #e0e2e6;
}

.suitecase-attachment {
  width: 10rem;
  display: block;
  margin-bottom: 1rem;
  margin-right: 1.5rem;
}

.suitecase-attachment-image {
  position: relative;
  width: 10rem;
  height: 6.75rem;
  border-radius: 0.25rem;
  background-size: cover !important;
  transition: box-shadow .2s ease;
  border: 1px solid #e0e2e6;
  padding: 0.75rem;
  cursor: pointer;
}

.suitecase-attachment-image:hover .suitecase-attachment-overlay {
  opacity: 1;
}

.suitecase-attachment-file:hover .suitecase-attachment-overlay {
  opacity: 1;

}

.suitecase-attachment-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
  background-color: rgba(52, 52, 52, .7);
  padding: 11px 14px;
  opacity: 0;
  transition: opacity .3s ease;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.suitecase-attachment-file {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 6.75rem;
  background: #e9e9e9;
  border-radius: 0.25rem;
  transition: box-shadow .2s ease;
  border: 1px solid #e0e2e6;
}

.suitecase-attachment-overlay .suitecase-attachment-filename {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

.suitecase-attachment-overlay .suitecase-attachment-overlay-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.suitecase-attachment-overlay .suitecase-attachment-size {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  margin: 0;
}

.suitecase-attachment-overlay .suitecase-attachment-remove {
  z-index: 2;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  height: 18px;
  width: 12px;
  display: flex;
  color: #fff;
}

.suitecase-attachment-link.is-image {
  z-index: -1;
}

.suitecase-attachment-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 1;
}

.suitecase-attachment-extension {
  text-decoration: none !important;
  font-weight: bold;
  color: #000;
}

.attachments-small .attachment {
  width: 36px;
  margin-top: 0.5rem;
  margin-right: 0.75rem;
}

.attachments-small .attachment-image {
  width: 36px;
  height: 36px;
}

.attachments-small .attachment-file {
  width: 36px;
  height: 36px;
}


.attachments-small-half .attachment {
  width: 72px;
  margin-top: 0.5rem;
  margin-right: 0.75rem;
}

.attachments-small-half .attachment-image {
  width: 72px;
  height: 72px;
}

.attachments-small-half .attachment-file {
  width: 72px;
  height: 72px;
}


.attachments .attachment a .attachment-extension {
  text-decoration: none !important;
  font-weight: bold;
  font-size: 0.775rem;
  color: #000;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}
