@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {

  --bs-blue-prime:#286efa;
  --bs-blue-second:#609de6;

  --bs-red-100: #e52325;
  --bs-red-75: rgba(229, 36, 39, 0.25);
  --bs-red-50: rgba(229, 35, 38, 0.25);
  --bs-red-25: rgba(229, 35, 38, 0.25);
  --bs-red-10: rgba(229, 35, 38, 0.25);
  --bs-red-5: rgba(229, 35, 38, 0.25);

  --delimiter-color: rgb(240, 240, 240);
  --delimiter-color-secondary: rgb(229, 229, 229);

  --bg-color: #fff;
  --black-100: rgba(37, 32, 32, 1);
  --black-75: rgba(37, 32, 32, 0.75);
  --black-50: rgba(37, 32, 32, 0.5);
  --black-25: rgba(37, 32, 32, 0.25);
  --black-10: rgba(37, 32, 32, 0.10);
  --black-5: rgba(37, 32, 32, 0.05);
}

/* You can add global styles to this file, and also import other style files */
/* This is only Initial Css */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Remove default margin*/
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--background);
  font-family: "Segoe UI", Arial, sans-serif
}

body.dark-theme {
  --background: rgba(37, 32, 32, 1);
}

body.light-theme {
  background-color: var(--background);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* This is only Initial Css END*/

/* App Body */
.layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: fit-content;
  min-height: 100vh;
}

/* App Body */


/* Forms  */
.invalid-f p {
  color: var(--bs-red-100);
}
.form-control{
  border: 1px solid #b1adad;
  border-radius: .25rem;
}
.form-control:focus
{
  box-shadow: 0 0 0 0.25rem var(--bs-red-5);
  border-color: var(--bs-red-100);
}
.btn-primary {
  background-color: var(--bs-red-100) !important;
  border-color: var(--bs-red-100) !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  background-color: var(--bs-red-100) !important;
  border-color: var(--bs-red-100) !important;
  box-shadow: none;
}
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
