:host() {
  flex: 1;
  overflow: auto;
  position: relative;
}

.app__content {
  padding: 1rem 1rem 0.25rem 1.5rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.filter-row>* {
  width: 100%;
  max-width: 100%;
  flex-shrink: 0;
}

.filters-block {
  display: flex;
  align-items: center;
}

.filters-block>* {
  font-size: .875rem;
}

.search_input {
  width: 200px;
  height: 30px;
}

.filter-item {
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  color: #393939;
  font-weight: 500;
  background: transparent;
  border: none;
  white-space: nowrap;
  background: #f3f3f3;
  padding: .4375rem .75rem;
  border-radius: .25rem;
  cursor: pointer;
  line-height: 1.125rem;
}

.add-filter-button {
  white-space: nowrap;
  font-size: .875rem;
  background-color: transparent !important;
  border: none !important;
  color: var(--bs-blue-prime);
}

.add-filter-button:focus {
  box-shadow: none;
}

.add-filter-button:hover {
  color: var(--bs-blue-second);
}
.table-status i{
  font-size: 1.5rem;
  cursor: pointer;
}
.table-name {
  font-weight: 500;
  margin-bottom: 0;
  line-height: 1rem;
}

.table-email {
  margin-top: 0;
  font-weight: 400;
  font-size: .75rem;
  line-height: 1rem;
  color: #959595;
}
