:host() {
  flex: 1;
  overflow: auto;
  position: relative;
}

.app__content {
  padding: 1rem 1rem 0.25rem 1.5rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.table-status i {
  font-size: 1.5rem;
  cursor: pointer;
}


::ng-deep .mat-select-value {
  color: var(--bs-blue-prime);
}

::ng-deep .mat-select-value:hover {
  color: var(--bs-blue-second);
}

::ng-deep .mat-select-arrow {
  display: none;

}
