<div class="container-fluid app__content">
	<div class="col-lg-12">
  
	  <h3>Test Plans</h3>
  
		<div class="mt-3">
		  <a id="createButton" class="btn btn btn-primary" routerLink="createplan">Create plan</a>
		</div>
  
		<div class="row mt-2">
		  <table mat-table [dataSource]="dataSource" class="mat-elevation-z0" cellspacing="0">
			
			  <ng-container matColumnDef="TestPlan_Title">
				  <th mat-header-cell *matHeaderCellDef>Title</th>
				  <td mat-cell *matCellDef="let element; let i = index">
					  <div class="row d-flex align-items-center">
						  <div class="column-title" routerLink="/projects/plan/viewplan/{{element.TestPlan_ID}}">
							  {{element.TestPlan_Title}}</div>
						  <div class="column-subtitle">{{element.TestPlan_Desc}}</div>
					  </div>
				  </td>
			  </ng-container>
  
			  <ng-container matColumnDef="TestPlan_RunTime">
				  <th mat-header-cell *matHeaderCellDef>Run time</th>
				  <td mat-cell *matCellDef="let element">
					  <div class="row d-flex align-items-center">
						  <div>
							  {{element.TestPlan_RunTime}}</div>
					  </div>
				  </td>
			  </ng-container>
  
			  <ng-container matColumnDef="TestPlan_CaseCount">
				  <th mat-header-cell *matHeaderCellDef>Cases</th>
				  <td mat-cell *matCellDef="let element">
					  <div class="row d-flex align-items-center">
						  <div>
							  {{element.TestPlan_CaseCount}} test cases</div>
					  </div>
				  </td>
			  </ng-container>
  
			  <ng-container matColumnDef="ThreeDots">
				  <th mat-header-cell *matHeaderCellDef></th>
				  <td mat-cell *matCellDef="let element; let i = index">
					  <div class="d-flex justify-content-end">
						  <button class="btn three-dots" data-bs-toggle="dropdown">
							  <i class="bi bi-three-dots"></i>
							  <div class="dropdown-menu">
								  <div class="dropdown-item">
									  <a routerLink="/projects/plan/viewplan/{{element.TestPlan_ID}}">View</a>
								  </div>
								  <div class="dropdown-item">
									  <a routerLink="/projects/plan/editplan/{{element.TestPlan_ID}}">Edit</a>
								  </div>
								  <div class="dropdown-item">
									  <a href="#">Export XLS</a>
								  </div>
								  <div class="dropdown-item" (click)="openDeleteModal(element.TestPlan_ID, element.TestPlan_Title)"
								  data-bs-toggle="modal" data-bs-target="#deleteModal">
									  Delete
								  </div>
								  <!-- <div class="dropdown-item"
									  (click)="openUpdateModal(element.Project_ID, element.Project_Name, element.Project_Desc, element.Project_Code, element.Project_AccessType)"
									  data-bs-toggle="modal" data-bs-target="#settingsModal">Settings</div> -->
								  <!-- <div class="dropdown-item"
									  (click)="openDeleteModal(element.Project_ID, element.Project_Name)"
									  data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</div> -->
							  </div>
						  </button>
					  </div>
				  </td>
			  </ng-container>
  
			  <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
		  </table>
		</div>

		<!-- Delete Modal -->
		<div class="modal fade" id="deleteModal" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body p-4">
			
					<h5 class="modal-title mb-3">Delete Test Plan</h5>
					<p class="mb-4">Are you sure, that you want to delete test plan "{{TestPlan_Title}}"?</p>
			
					<div class="d-flex align-items-center justify-content-end">
						<span class="cancel-span me-2" data-bs-dismiss="modal">Cancel</span>
						<button type="button" class="btn btn-primary" (click)="deleteTestPlan()">Delete</button>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
  