<div class="container-fluid app__content">
  <div class="col-lg-12">

    <h3>Test Plans</h3>

      <div class="mt-3">
        <a id="createButton" class="btn btn btn-primary" routerLink="createplan">Create plan</a>
      </div>

      <div class="plan-list-items">
        <table mat-table [dataSource]="dataSource" class="table projects-table mt-3" cellspacing="0">
          <thead>
            <tr>
              <th class="ps-0">Title</th>
              <th class="plan-average">Run time</th>
              <th class="plan-cases">Cases</th>
              <th class="text-end"></th>
            </tr>
          </thead>
            <tbody>
              <tr class="project-row">
                <td class="ps-0">
                  <div>
                    <a class="defect-title" href="#">Testplan Test</a>
                  </div>

                  <span class="project-cases" style="font-size: 0.875rem;">Created 3 days ago</span>
                </td>
                <td> 00:04:18</td>
                <td> 7 test cases</td>
                <td class="text-end">
                  <div class="dropdown">
                    <a class="btn btn-dropdown" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                      <i class="bi bi-three-dots"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-end">
                      <div class="dropdown-item">
                        <a href="#">View</a>
                      </div>
                      <div class="dropdown-item">
                        <a href="#">Edit</a>
                      </div>
                      <div class="dropdown-item">
                        <a href="#">Export XLS</a>
                      </div>
                      <div class="dropdown-item">
                        <a class="text-danger">Delete</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="project-row">
                <td class="ps-0">
                  <div>
                    <a class="defect-title" href="#">Testplan test 2</a>
                  </div>

                  <span class="project-cases" style="font-size: 0.875rem;">Created 3 months ago, updated 1 month ago</span>
                </td>
                <td> 00:08:37</td>
                <td> 14 test cases</td>
                <td class="text-end">
                  <div class="dropdown">
                    <a class="btn btn-dropdown" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                      <i class="bi bi-three-dots"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <div class="dropdown-item">
                        <a href="#">View</a>
                      </div>
                      <div class="dropdown-item">
                        <a href="#">Edit</a>
                      </div>
                      <div class="dropdown-item">
                        <a href="#">Export XLS</a>
                      </div>
                      <div class="dropdown-item">
                        <a class="text-danger">Delete</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="project-row">
                <td class="ps-0">
                  <div>
                    <a class="defect-title" href="#">Testplan test 3</a>
                  </div>

                  <span class="project-cases" style="font-size: 0.875rem;">Created 6 months ago, updated 4 months ago</span>
                </td>
                <td> 00:20:37</td>
                <td> 36 test cases</td>
                <td class="text-end">
                  <div class="dropdown">
                    <a class="btn btn-dropdown" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                      <i class="bi bi-three-dots"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <div class="dropdown-item">
                        <a href="#">View</a>
                      </div>
                      <div class="dropdown-item">
                        <a href="#">Edit</a>
                      </div>
                      <div class="dropdown-item">
                        <a href="#">Export XLS</a>
                      </div>
                      <div class="dropdown-item">
                        <a class="text-danger">Delete</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
  </div>
</div>
  