:host() {
  flex: 1;
  overflow: auto;
  position: relative;
}

.app__content {
  padding: 1rem 1rem 0.25rem 1.5rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
.mat-column-status {
  width: 25%;
}

.progress{
  height: 1.3rem;

}
.progress-bar{
  background-color: rgb(41, 185, 95);
}
