<div class="app__content">
  <div class="row">
    <div class="col-lg-12">

      <h2 class="page-title my-3">Test runs</h2>

      <div class="row mt-3">
        <div class="d-flex align-items-center">
          <div class="me-3">
            <button type="button" class="btn btn-primary" routerLink="/projects/run/create">
              Start new test run
            </button>
          </div>
          <div class="me-3">
            <input type="text" class="form-control search_input" placeholder="Search for test runs">
          </div>
          <div class="d-flex align-items-center">
            <span class="filter-span" data-bs-toggle="dropdown">+ Add filter</span>
            <div class="dropdown-menu">
              <div class="dropdown-item">Status</div>
              <div class="dropdown-item">Assigned To</div>
              <div class="dropdown-item">Environment</div>
              <div class="dropdown-item">Milestone</div>
              <div class="dropdown-item">Tags</div>
              <div class="dropdown-item">Automation</div>
              <div class="dropdown-item">Creation Date</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2 px-2">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z0" matSort>
          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div class="text-center">
                <i class="bi bi-check-circle-fill" data-bs-toggle="tooltip" title="Complete"></i>
                <!-- <ng-template [ngIf]="element.Defect_Status == 1">
                  <i class="bi bi-exclamation-circle-fill" data-bs-toggle="tooltip" title="Open"></i>
                </ng-template>
                <ng-template [ngIf]="element.Defect_Status == 2">
                  <i class="bi bi-hourglass-top" data-bs-toggle="tooltip" title="In Progress"></i>
                </ng-template> -->
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="Title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div class="column-title" routerLink="/projects/run/dashboard/{{i}}">{{element.title}}</div>
              <div class="column-subtitle">{{element.datestart}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="Environment">
            <th mat-header-cell *matHeaderCellDef>Environment</th>
            <td mat-cell *matCellDef="let element">{{element.environment}}</td>
          </ng-container>

          <ng-container matColumnDef="Time">
            <th mat-header-cell *matHeaderCellDef>Time</th>
            <td mat-cell *matCellDef="let element">{{element.time}}</td>
          </ng-container>

          <ng-container matColumnDef="Progress">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
              <div class="progress">
                <div class="progress-bar passed-pb" data-bs-toggle="tooltip" title="Passed" [ngStyle]="{'width.%': 33.33}">3</div>
                <div class="progress-bar failed-pb" data-bs-toggle="tooltip" title="Failed" [ngStyle]="{'width.%': 33.33}">3</div>
                <div class="progress-bar untested-pb" data-bs-toggle="tooltip" title="Untested" [ngStyle]="{'width.%': 33.33}">3</div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="ThreeDots">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div class="d-flex justify-content-end">
                <button class="btn three-dots" data-bs-toggle="dropdown">
                  <i class="bi bi-three-dots"></i>
                  <div class="dropdown-menu">
                    <div class="dropdown-item">Dashboard</div>
                    <div class="dropdown-item">Open Wizard</div>
                    <div class="dropdown-item">Clone run</div>
                    <div class="dropdown-item">Edit run</div>
                    <div class="dropdown-item">Delete</div>
                  </div>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- <tr *matNoDataRow="">
            <td class="mat-cell" colspan="4"> The "{{input.value}}" does not match any account. </td>
          </tr> -->
        </table>
        <mat-paginator [pageSizeOptions]="[10, 5, 20, 50]"></mat-paginator>
      </div>

    </div>
  </div>
</div>
