<div class="app__content">
  <div class="row">
    <div class="col-lg-12">
      <h3>Test Runs</h3>
      <div class="row">
        <div class="row filter-row">
          <div class="col d-flex text-start">
            <div class="filters-block">
              <input type="text" class="form-control search_input me-2" placeholder="Search for team members" #input>
              <div class="filter-outer dropdown me-2">
                <div class="filter-item" data-bs-toggle="dropdown" aria-expanded="false">
                  Status: <span id='filter-status'>Multiple</span>
                </div>
                <div class="dropdown-menu ">
                  <!-- <mat-radio-group aria-label="Select an option" class="d-flex flex-column" [(ngModel)]="statusSelect" (change)="changeDropdownText()">
                    <mat-radio-button value="" class="mb-2" (change)="applyFilter(undefined,$event)">All</mat-radio-button>
                    <mat-radio-button value="1" class="mb-2" (change)="applyFilter(undefined,$event)">Active</mat-radio-button>
                    <mat-radio-button value="-1" (change)="applyFilter(undefined,$event)">Inactive</mat-radio-button>
                  </mat-radio-group> -->
                </div>
              </div>
              <div class="filter-outer dropdown me-2">
                <div class="filter-item" data-bs-toggle="dropdown" aria-expanded="false">
                  Role: <span id='filter-role'>Multiple</span>
                </div>
                <div class="dropdown-menu">
                  <!-- <mat-radio-group aria-label="Select an option" class="d-flex flex-column" [(ngModel)]="roleSelect" (change)="changeDropdownText()">
                    <mat-radio-button value="" class="mb-2" (change)="applyFilter(undefined,$event)">All</mat-radio-button>
                    <ng-container *ngFor="let item of roles">
                      <mat-radio-button value="{{item.value}}" class="mb-2" (change)="applyFilter(undefined,$event)"> {{item.value}}</mat-radio-button>
                    </ng-container>
                  </mat-radio-group> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
