:host(){
  cursor: pointer;
}
.r-col-header {
  width: 100%;
  border-radius: 6px;
  background-color: var(--black-5);
  padding: 0.5rem;
}
.check-box{
  font-weight: 600;
}
.suite-buttons {
  border-radius: 6px;
  border: 1px solid transparent;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: all 0.1s ease;
  position: relative;
  font-weight: inherit;
  font-size: 0.875rem;
  padding: 2px 6px;
  background-color: transparent;
}

.suite-buttons i {
  color: var(--black-50);
}
.suite-buttons:hover i {
  color: var(--c-text);
}
.suite-buttons:hover{
  background-color: rgba(189, 188, 188, 0.37);
}
.suite-buttons.plus i{
  color: var(--bs-blue-second);
}
.suite-buttons.plus:hover i{
  color: var(--bs-blue-prime);
}
.check-box{
  font-size: 0.875rem;
}

.caseControl{
  display: none;
}
